[2016-01-19 21:17] edimuj opened #1 "iOS support"
Implement iOS support using Audio Units.

[2016-01-19 21:19] edimuj opened #2 "Separate capture cfg parameter for bit depth"
It is a bit ugly to use a format string (e.g. `PCM_16BIT`) in the start configuration. It would be better if we could have a separate parameter for bit depth (e.g. `16` or `8`), but also keep the old format parameter for backwards compatibility. This could be handled in the js part of the plugin, so that the native code always would get bit depth instead of format strings.

[2016-01-19 21:20] edimuj opened #3 "Capture cfg parameter for nomalization"
Make the normalization of audio data optional.

[2016-01-19 21:22] edimuj opened #4 "Base64 encoding instead of Array.toString for data transport?"
Don't know how much better it would be in terms of Performance. Does anybody know?

Ideally it would be best if we could stream data from the native to webview layer, but I haven't yet found a way to do this. Maybe it could be achieved by starting up a server port that the webview can stream from, but it would probably be a nightmare in terms of security constraints?!

[2016-01-21 18:13] wilsonlmh commented on #1
Good job!! May I ask will iOS support soon?

[2016-01-21 20:00] edimuj commented on #1
Thanks! I have a rough solution for iOS ready, and hope that I will be able to finish it in the coming weeks.

[2016-02-12 15:28] finppp opened #5 "Android microphone permissions"
Although <uses-permission android:name="android.permission.RECORD_AUDIO" /> is added in the AndroidManifest.xml,
The record function will not work until the permission is manually granted
(Settings -> Apps -> "appName" -> Permissions -> Microphone enable)
I believe this is a new to Marshmallow.

[2016-02-12 16:06] edimuj commented on #5
The new (microphone) permission handling on Android Marshmallow is likely be related to the problem. I haven’t yet had any time to perform any tests. It would be nice if it could be solved by this plugin though, so I will look into this in the beginning of next week.

[2016-02-24 09:11] atlanlin opened #6 "Using with Ionic Platform"
I am currently testing with Ionic platform but it stopped the application once `audioinput.start(captureCfg);` has been called. It just closes off the application so I can't see the error message as well.

[2016-02-25 10:19] finppp commented on #6
Try either: changing the target apk to 22 instead of 23.
Or after installing the app go to settings, and manually tick the permissions

[2016-06-29 19:52] joedaniels29 commented on #1
Hm. Maybe not? haha I'm looking for a cordova plugin that will capture audio and work with Steroids.js (😭 don't use steroids.)

[2016-06-30 13:07] jamesst20 commented on #5
Hi,

"Beginning in Android 6.0 (API level 23), users grant permissions to apps while the app is running, not when they install the app" Source : https://developer.android.com/training/permissions/requesting.html

"If your app needs a dangerous permission, you must check whether you have that permission every time you perform an operation that requires that permission. The user is always free to re

[2016-07-01 18:59] #1 closed

[2016-07-01 18:59] #5 closed

[2016-07-01 18:59] #6 closed

[2016-07-01 19:01] #3 closed

[2016-07-02 09:35] edimuj commented on #5
Thanks, James! I've added support for Android 6+ permissions for another project I was working on, so here it is.

[2016-07-02 09:36] edimuj commented on #6
Now the plugin supports both <23 and 23+ permission models.

[2016-07-02 09:38] edimuj commented on #1
The iOS implementation of the plugin is now ready. :)

[2016-07-12 08:34] zyf0330 opened #9 "what is normalizationFactor"
Could you explain normalizationFactor for me? and why to enable normalize

[2016-07-12 09:24] zyf0330 commented on #9
Maybe it can adjust loudness of sound?
But how to save it as file?

[2016-07-12 11:45] edimuj commented on #9
The normalize option is used to convert the raw audio data samples from the byte values that are captured to floating point values. For 16 bit data the value range is +/-32767 and therefore each sample should be divided by 32767 in order to get something between -1.0 and +1.0. The main reason to use normalize is that the Web Audio API plays nice with float data, but you don't need to use the Web A

[2016-07-13 08:34] zyf0330 commented on #9
I have learned about [saveToWAV](https://github.com/higuma/wav-audio-encoder-js). But it is not successful. I use params `{normalize: false, channels: 1, sampleRate: 44100, format: 'PCM_16BIT'}` to get audio data array, and give it to wav-audio-encoder, but get a bad wav file. Why?

[2016-07-13 09:43] edimuj commented on #9
Looks like [saveToWav](https://github.com/higuma/wav-audio-encoder-js) wants a normalized buffer:

`encoder.encode(buffers)`

"buffers **must be an array of Float32Array audio data (range = [-1, 1])**. Array length must be same as number of channels. It supports stream (incremental) processing. Sample buffers are processed to .wav fragment and appended to internal data."

So I would instead use th

[2016-07-13 09:49] zyf0330 commented on #9
Sorry, I say something wrong. I also attempt `normalize: true`, and in fact, I know most principles of it, but still fail.

[2016-07-13 09:53] edimuj commented on #9
Do you have some code here in github that I could take a look at?

[2016-07-13 09:57] zyf0330 commented on #9
I just use your module to get data and pass into that encoder like bottom:
these are some pieces code.
[code]
[code]
[code]

[2016-07-13 13:40] edimuj commented on #9
Thanks, I will check this out in a test project. Will update you on the progress.

[2016-07-13 13:57] zyf0330 commented on #9
another thing, `_normalize` function will return string array, so maybe `inputaudiodata` should be parsed by `JSON.parse` to get int array.

[2016-07-13 15:26] edimuj commented on #9
The _normalize function returns an array of floats. The audioInputEvent function gets a comma-separated string from the native layer of the plugin, which is converted to an int array with samples. If normalize is used, the samples are converted to floats.

[2016-07-13 20:33] edimuj commented on #9
I looked into it and got it to work with [WavAudioEncoder.js](https://github.com/higuma/wav-audio-encoder-js) which previously was mentioned as saveToWav.

Start capturing using the defaults:
[code]

Gather the incoming data in the audioinput event listener:
`audioDataBuffer = audioDataBuffer.concat(evt.data);`

And when capture is stopped:
[code]

The blob can, of course, also be saved as file us

[2016-07-14 01:24] zyf0330 commented on #9
I have found the problem, it appears when saveToFile. I use cordova-plugin-file to get FileEntry and save blob by `FileEntry.createWriter().write`, and everything is ok, but I get a bad file. If I change the blob to dataurl, it works normally.

[2016-07-14 12:06] edimuj opened #12 "Add support for getUserMedia if it exists on the platform"

[2016-07-14 12:14] edimuj opened #13 "Add support for cordova browser platform and/or cordova-simulate"
For development purposes, so that the plugin can run in the browser when running in the browser platform:
`cordova platform add browser`

The browser proxy should either provide dummy audio data (i.e. white noise) or rely on getUserMedia if it is supported in the current browser.

[2016-07-15 09:06] zyf0330 opened #14 "_error not exists in js"
`audioinput._error` doesn't exist.

[2016-07-15 09:15] zyf0330 opened #15 "Something abnormal on iOS"
I attempt to use this plugin on iOS.
When I set `{streamToWebAudio: true}` and start, nothing plays. When I inspect code and debug, everything is normal as expected.
If I play the data with my webAudio, it works. But one thing is unusual, when I click button to stop recording, it executes after a few time about 200ms or more. And it seems not smooth.
I think, code in native api on iOS performs dif

[2016-07-15 09:19] zyf0330 commented on #15
Another thing is, it looks like that iPhone doesn't support sampleRate less than 22050 HZ applied to `audioCtx.createBuffer`.

[2016-07-15 16:04] edimuj commented on #15
The iOS native code did sometimes send empty data to the js layer when capturing was stopped, but I've removed that behaviour now.

Interesting, about the minimum sampleRate on iOS. The plugin code doesn't have that limit. Maybe something in the OS/Hardware?

[2016-07-15 16:05] edimuj commented on #14
It has been renamed to _audioInputErrorEvent. I've fixed that now.

[2016-07-15 16:05] #14 closed

[2016-07-15 16:36] zyf0330 commented on #15
That is related to webkitAudioContext.createBuffer, and MDN shows that the
implementation of minimum value of sampleRate must be less than 22050 or
equal it. I don't know many details, that's not my yard. So I think it is
related to WebKit implementation.

On Sat, Jul 16, 2016, 00:04 Edin Mujkanovic <notifications@github.com>
wrote:

--

追随

[2016-07-15 16:40] edimuj commented on #15
Good to know, thanks for looking it up!

[2016-07-15 17:14] #15 closed

[2016-07-15 21:41] edimuj commented on #9
I have created an example (demos folder) of saving audio to file using the Cordova file plugin, and will push it next week. Thanks for all the help with this.

[2016-07-15 21:41] #9 closed

[2016-07-15 21:45] edimuj opened #16 "Native code formatting"
Since I wrote the native code in a standard text editor, the formatting is pretty bad. It should be fixed, so that the code is easier to read.

[2016-07-18 01:09] Tattomoosa opened #17 "Error connecting to AudioNodes"
I supplied an audio context to audioinput.start:
`audioinput.start({
    streamToWebAudio: true,
    audioContext: myContext
});`

but connecting audioinput like this doesn't work:
`audioinput.connect(myContext.destination);`
and this also doesn't work:
`audioinput.connect(myGain);`

it throws an error alert (i am using try/catch set up just like the demo) which says 'startCapture exception: Error

[2016-07-18 01:30] Tattomoosa opened #18 "(iOS) Odd Latency Issue"
The latency starts off at less than half a second behind, but gets worse and worse the longer the app runs.

This is without doing any processing of the audio, and I am using the default settings for audioinput.start except 'streamToWebAudio' is true.

Maybe related:

XCode logs a warning:
`2016-07-17 19:56:51.384 loops[5423:2056990] THREAD WARNING: ['AudioInputCapture'] took '373.946777' ms. Plug

[2016-07-18 01:58] Tattomoosa commented on #17
Found the problem!

A simple underscore in audioInputCapture.js, line 85:
`audioinput._cfg._audioContext = cfg._audioContext || null;`

This works as expected:
`audioinput.start({ streamToWebAudio: true, _audioContext: myContext });`

I would fork and fix, but that seems like a lot to delete a single character. :)

[2016-07-18 03:54] zyf0330 commented on #9
@edimuj I found that wav can play on my computer, but Android cannot with play music or RE music etc.
It is funny, do you know?

[2016-07-18 04:07] zyf0330 commented on #9
@edimuj I know why, I save that file into internal storage of app, and other app has no permission to read it. Sorry.

[2016-07-18 07:32] #17 closed

[2016-07-18 07:40] edimuj commented on #18
Yeah, I know what you mean, I think the latency is introduced by the rather primitive mechanism used for sending data between the native and js layers. Using the event based method with a small buffer size and throwing new data when the data queue is larger than x, seems to be one way of getting a consistent latency. It is a bit brutal, so it may not work for all scenarios.

[2016-07-18 07:49] edimuj commented on #18
Regarding the background thread warning: it is explained [here](http://stackoverflow.com/questions/24572174/phonegap-media-plugin-should-use-a-background-thread).

[2016-07-19 08:30] edimuj commented on #9
I agree, that is not so easy to know. I think that the behaviour of the cordova file plugin in general is pretty confusing.

[2016-07-19 08:32] zyf0330 commented on #9
Whatever, I just convert it into dataurl now to play it. And remain issue to them.

[2016-07-19 08:35] edimuj opened #20 "Enable plugin to execute the looping parts in background thread/background mode"
Today the plugin runs in foreground/the web thread, which can affect the UI. The looping parts of the plugin should therefore execute in the background, using the recommended methods for iOS and Android Cordova plugins.

[2016-07-19 09:31] edimuj commented on #9
Good!

[2016-07-19 16:42] #16 closed

[2016-07-19 16:42] #20 closed

[2016-07-19 16:47] edimuj commented on #18
I've just pushed a change that runs the result callback code in a self.commandDelegate runInBackground in iOS, should help a bit at least.
Another thing I've noticed is that the iOS UIWebView blocks js execution when scrolling, so just scrolling the page stops the JS part of this plugin which adds to latency. Could that explain the behaviour you noticed?

[2016-07-19 16:53] edimuj opened #21 "Get iOS recording with stereo and 8-bit working properly"
Right now only mono and recording with bit depth of 16 works as it should in the iOS part of the plugin. It would be good to get it to work with stereo and/or 8-bit recording.

[2016-07-19 20:34] Tattomoosa commented on #18
Nice! Big improvement! The initial latency is better, and i think it takes longer to drift.

XCode still logs:
`['AudioInputCapture'] took '439.781982' ms. Plugin should use a background thread.`
But since this only happens at the start and doesn't affect latency (Signal is definitely not 439ms late at first, anyway) that's probably pretty trivial.

My app is a single fullscreen page that doesn't

[2016-07-19 20:48] Tattomoosa commented on #13
I already made a basic implementation of this in my project with getUserMedia to test in browser. It was pretty trivial to do. Basically, if getUserMedia is supported it uses that instead, and I plug either audioinput or the Media Stream Source into a gain node and deal with signal from the gain node from there on out.

I'm not sure that it's possible to support all the configuration options thoug

[2016-07-19 21:20] Tattomoosa commented on #21
I can't find where I read this, but apparently iOS devices have a dedicated DSP chip for their microphones that handles noise reduction etc. it may be that it runs in 16 bit and the only way to get to 8 bit is to downsample?

[2016-07-21 09:02] zyf0330 opened #22 "Help about choose speaker to play audio"
When I use iPhone to play wav with audioContext.destination, sound comes from
stethoscope. And if it is Android, it is from loudspeaker.
So how to choose?

[2016-07-21 09:11] edimuj commented on #22
This is on iOS? You could use the [av-audio-session-adapter](https://github.com/eworx/av-audio-session-adapter) plugin and set the CategoryOptions to DEFAULT_TO_SPEAKER. I always use this plugin when building sound apps for iOS.

In your case the plugin should be used like this:

[code]

I hope this helps.

[2016-07-21 09:28] edimuj commented on #21
Yes, I believe you're right and that the best way to achieve this is to use an Audio Converter: https://developer.apple.com/library/ios/documentation/MusicAudio/Reference/AudioConverterServicesReference/

The hardware microphones on most iOS devices are mono, but recording can be performed when using a stereo supporting external (e.g. bluetooth) microphone.

I don't know how important this actuall

[2016-07-21 10:20] edimuj commented on #18
I agree, if the warning only appears during startup it is ok, since I believe that starting up recording is not allowed in a background thread (it must be triggered directly by a user). At least it didn't work when I tried :).

Yes, the scroll-blocks-js is not an issue on fullscreen pages and where non-native scrolling occurs, but if you for example run the demo apps for the plugin on a mobile dev

[2016-07-21 10:30] edimuj commented on #13
Sounds really good, Matt! I agree, it it certainly possible to achieve most configuration options using AudioNodes, like mono<->stereo for example using ChannelSplitterNode and ChannelMergerNode.

Right now, 100% support for all parameters is not needed and can be something to implement later on, just a way of smoothly using the plugin when emulated in the [Cordova Browser platform](https://github

[2016-07-21 10:52] zyf0330 commented on #22
You make me find another plugin [audiotoggle](https://github.com/alongubkin/audiotoggle) to do same thing, I will test. Thanks!

[2016-07-21 10:56] edimuj commented on #22
Thanks for telling me about the audiotoggle plugin. Never heard about it before, but it looks really nice and easy to use for this type of thing.

[2016-07-21 10:56] #22 closed

[2016-08-05 01:30] KrisHedges opened #23 "Crashing in iOS after returning from background"
I'm getting a crash when my app returns from background. I'm able to record and stop recording all day long when the app first comes up.. but hitting record after coming back from background the app crashes.

It throws EXC_BAD_ACCESS(code=1, adress=0xWtver123) at line 89 in
cordova-plugin-audioinput/src/ios/CDVAudioInputCapture.m

Here:
https://github.com/edimuj/cordova-plugin-audioinput/blob/mast

[2016-08-05 03:31] zyf0330 commented on #23
## 你好

<br>
<br>
<br>

[hello](#你好)

[2016-08-06 13:28] yydad117 opened #24 "Getting the volume level"
Hi, I like your plugin and it is possible to get the volume level directly from the microphone? Or detect the volume change with the plugins?

[2016-08-11 13:38] edimuj commented on #24
It of course depends how accurate you need it to be, but you can get the current volume level registered by the microphone from the plugin.

One way of doing it is to use the Web Audio (AudioNode) based method that the plugin supports. The following code should be read as psuedo-code since I just wrote it here in this issue and have not actually run it live. It can contain some errors:

[code]

If

[2016-08-11 13:50] edimuj commented on #23
Hi, Kris! Thanks for registering this issue. Sadly I haven't had the time to analyze the problem yet, but my guess is that iOS deactivates the AVAudioSession when the app is pushed to the background and when coming back to the foreground the AVAudioSession isn't activated again which leads to the crash.

I have only used the plugin using the backgroundmode for audio in iOS:
<config-file target="*-

[2016-08-11 14:05] edimuj commented on #23
And for the other part of your issue. It looks like your code is handling things correctly.

The _micGainNode is actually private (which the prefix "_" indicates), so it is a bit risky to use it, since the internal code of the plugin may change. But since the current version of the plugin doesn't enable you to get hold of the node in any other way, it is still ok to do it that way. Will add suppor

[2016-08-15 16:06] yydad117 commented on #24
Thanks for your reply.

Unfortunately, I tried your code, and it is not working.
There is no any console.log output when I give voice to the microphone.

I worked with turned streamToWebAudio to false and used the audioinput event based. However, it gave a very large time delay, so I want to try your method but not working.

Can you give me more examples?

Thanks,
Hugo Lo

[2016-08-17 10:34] edimuj commented on #24
Do you have some code I can look at?

[2016-08-30 15:33] yydad117 opened #25 "Xcode Error: Can't find variable: audioinput"
Hi, I like your plugin
It works in Android
However, when I tested in Xcode, the follow message occurred
" Error: Can't find variable: audioinput "

Xcode version is 7.3.1
Cordova version is 6.3.1

Please help.

[2016-09-01 13:34] #25 closed

[2016-09-03 18:57] KrisHedges commented on #23
Thank you so much for this plugin and your extremely well thought responses to my issues. I managed to minimize the crashes by reinitialuzing the plugin after returning from background. It still happens on occasion but is mostly under control in normal usage. I also managed to get my app in the stores. I think by limiting the sound recording to a short time period (20s with a timer) it was allowed

[2016-09-03 21:55] KrisHedges commented on #23
Thank you so much for this plugin and your extremely well thought responses to my issues. I managed to minimize the crashes by reinitialuzing the plugin after returning from background. It still happens on occasion but is mostly under control in normal usage. I also managed to get my app in the stores. I think by limiting the sound recording to a short time period (20s with a timer) it was allowed

[2016-09-11 13:56] obirije opened #26 "Working with audioinput on ionic2"
Hello, I've tried running the audioinput plugin on an ioinic2 app but there is no response or indication that he plugin is working, for example, I did console.log(window.audioinput); but the audioinput object does not print to console log.
Does this plugin work in with another plugin? or  will have to write a Web Audio API code to work with the window.audioinput?
or is it completely stand alone?
I

[2016-09-11 14:08] obirije commented on #26
`import {Component} from '@angular/core';
import {NavController, Platform} from 'ionic-angular';

@Component({
  templateUrl: 'build/pages/contact/contact.html'
})
export class ContactPage {
	//public platform: any;

  constructor(private navCtrl: NavController, private platform: Platform) {
  	platform.ready().then(() => {

  		// (<any>window).audioinput is same as window.audioinput
  		console.

[2016-09-12 13:28] edimuj commented on #26
Hmm, not quite sure if I understand, this is just a regular Apache Cordova plugin. From your code it doesn't look like the plugin has been installed into your project. How did you perform the actual import/install of the cordova-audioinput-plugin?

I don't use ionic myself, but I've understood that it can be a bit confusing regarding how to use Cordova plugins together with ionic, since you can do

[2016-09-16 07:27] edimuj commented on #24
Closing this now, since there haven't been any activity for a month.

[2016-09-16 07:33] edimuj opened #27 "Add functionality for saving the audio input to files"
Being able to specify that the audio input from the microphone also should be saved to file, would be a really nice feature. This should be optional though.

Target format should probably be M4A, since it is compressed and supported by both Android and iOS.

[2016-10-11 09:37] edimuj commented on #26
Closing this issue since there's been no response for a month now.

[2016-10-11 09:37] #26 closed

[2016-10-14 23:52] doender opened #28 "Audio output low after initializing plugin on iOS"
This is truly a great plugin which helped me a lot. However, I have a problem on iOS.
After initializing the plugin like so:

[code]

the subsequent audio playback, for example through `<audio>` or `<video>` tags, all have a very low volume, whereas the system level volume is at 100%. I tested it on iPhone 4S, 5S and 6S and it happens on all devices. Any idea what could cause this?

[2016-10-15 01:25] doender commented on #28
I think I fixed this by changing the `AVAudioSession` mode from `AVAudioSessionCategoryOptionMixWithOthers` to `AVAudioSessionCategoryOptionDefaultToSpeaker`.

[2016-10-17 10:41] doender commented on #23
@edimuj I have the same problem: after returning from background and starting the recording (which starts the audioinput recording) the app crashes.

@KrisHedges You say you solved the issue by reinitializing the plugin after returning from background. How exactly did you implement this?

[2016-10-18 20:23] doender commented on #23
@KrisHedges As far as I understand (after some logging) the plugin will actually completely reinitialize the AVAudioSession when `audioinput.start` is called, right?

[2016-10-18 22:24] KrisHedges commented on #23
Yes this is what I saw as well... In my original approach I was hanging onto the audioinput object thinking it would just be there whenever I needed to tap into it with recorder it was foolish and crashed every time on returning from background but surprisingly worked pretty well otherwise. But clearly that was naive. Calling stop and start every time made it crash less often... But it does still

[2016-10-19 05:06] doender commented on #23
Thanks for you reply! BTW: I now changed the plugin to not start when it enters the foreground (commented out this line: https://github.com/edimuj/cordova-plugin-audioinput/blob/master/src/ios/CDVAudioInputCapture.m#L165).
I haven't seen any crashes so far (without background audio mode on), but I will test further.

@edimuj There is one other thing that I couldn't fully understand: the number of

[2016-10-21 19:10] asineath opened #29 "Microphone Permissions on iOS 10"
Will you add a permission request message for the microphone to comply with the iOS 10 security upgrade? The app crashes when the plugin is initiated without a specified permission request alert.

[2016-10-28 10:05] edimuj commented on #29
Sorry, haven't had any time to look into that specific issue, due to other projects. In my own apps, I rely on the microphone plugin to handle permissions on iOS: https://github.com/amitgur/cordova-plugin-microphone

[2016-11-18 09:44] edimuj commented on #28
Thanks for raising this issue, and for the potential fix. I'm sorry for the late reply, and will look into this as soon as I can. It would probably be best if it the AVAudioSession category, could be configured when the plugin is started along with the other parameters. There are some cordova plugins for setting the category and category options (e.g. https://github.com/eworx/av-audio-session-adap

[2016-12-12 00:54] faustofjunqueira commented on #26
Hello,
I have the same problem,
How you solved this problem?

[2016-12-12 13:06] faustofjunqueira commented on #26
I found the bug.
Don't run de ionic run with livereload.

cya

[2016-12-19 17:05] anthonyvespoli opened #31 "Trying to play a sound to signal audio recording has started IOS"
I'm using the cordova Media plugin to play a simple beep sound to signal the start and end of the audio input. If I play the beep before I call audioinput.start(), it is very quiet which is not what I need. I need it to be full volume. If I call the beep after I call audioinput.start() it immediately ends the recording, which is also what I don't want. I've tried using a few different plugins to p

[2016-12-20 00:11] #31 closed

[2016-12-20 00:57] dested commented on #24
I will note for future readers, this method did work for me.

[2016-12-26 17:41] silverhawk184 opened #33 "No audio on Android N"
Hello,
I am testing this plugin with my Nexus 6p and am not able to get any data from the microphone using the WebAudioAPI option. I tried from the example too. It works on other devices though.

[2016-12-26 17:49] silverhawk184 opened #34 "Very high latency"
Hello,
I am getting high latency while running via the WebAudioAPI. I am testing on a Nexus 6P, Android 7.1.1 with a crosswalk 19 app.

[code]

Is there anything else I can tweak?

[2016-12-27 04:11] #33 closed

[2017-01-18 10:48] khelkun commented on #29
This did the job for me:
https://www.npmjs.com/package/cordova-plugin-ios-microphone-permissions

[2017-02-10 14:07] fborot opened #37 "Use it for get data from mic and to play back audio"
Hi, nice promising plugin, thank you

Is it possible to use this plugin to do these 2 things at the same time:?

1- get data from mic, use the events mode , for example: get the data from the buffer, copy it to my local buffer and prepare/process the bytes to be sent to the network for a remote end to receive and playback.

2- playback back audio that I obtain from another buffer at the same time

[2017-03-07 09:45] shahinkl opened #38 "Phonegap app not finding audio-input plugin"
I have created a new phonegap project and added the cordova-plugin-audioinput plugin. Then I copied the demo folder from the plugin to _www_ directory of the phonegap app. When I tried running the demos, I am getting the warning 'cordova-plugin-audioinput not found!'. Any help would be greatly appreciated to resolve my issue.

[2017-03-13 15:08] shahinkl commented on #38
When tried in the web context getting below error.

onAudioInputError event recieved: {"isTrusted":false,"message":"Missing Command Error"}

[2017-03-16 01:29] matrixreal opened #39 "volume compare from mic ?"
Hi,
is it possible to compare a volume from microphone ? something like low or high volume from microphone directly when we speak (ios cordova)
thanks

[2017-03-18 11:17] edimuj commented on #39
Hi, not sure if I understand, but you could use the my speechcapture library together with this plugin, to get notified when the amplitude of the audio input reaches a certain level above the ambient sound level.

[2017-03-18 11:20] edimuj commented on #38
Sounds like somethings doesn't get initialized correctly, but I need to see your project in order to help you.

[2017-03-18 11:25] edimuj commented on #37
This plugin is, as the name implies, built for audioinput only. I see no problem with playing sound using, for example, the Web Audio API regardless if the sound data comes from a server or the local device microphone. Regarding the choppy sound on iOS, I cannot reproduce that here, do you have a project that I can look at in order to understand better?

[2017-03-18 11:28] edimuj commented on #34
I do not understand, you don't get any sound at all with the above settings, or you get sound with a 2s delay?

[2017-03-19 15:55] shahinkl commented on #38
[https://github.com/shahinkl/krypto-sr-mobile/blob/master/www/lib/app/js/wave.js](url)

[2017-03-19 15:59] shahinkl commented on #38
Thanks You
Please check the wave.js file

[wave.js.zip](https://github.com/edimuj/cordova-plugin-audioinput/files/853331/wave.js.zip)

[2017-03-20 11:24] edimuj commented on #38
Hi, thanks, I looked at the wave.js file, but I cannot see what goes wrong based on that file only, since it is basically just a stripped down version of the demo in this project.

Would need the entire context in which that file is used: Your full Apache Cordova project, i.e. including the config.xml, index.html etc., would make it easier to see where something goes wrong during the app startup a

[2017-03-20 11:39] edimuj commented on #38
I found your project based on the URL you posted above.. the URL it points to is wrong https://github.com/shahinkl/krypto-sr-mobile/blob/master/www/lib/app/js/wave.js -> "https://github.com/edimuj/cordova-plugin-audioinput/issues/url". I'll take a look at it.

[2017-03-20 15:06] shahinkl commented on #38
Thank you! I am glad to receive your help.

[2017-03-20 15:08] shahinkl commented on #38
I got the error while running on my android/iOS devices.

[2017-03-26 19:51] devikaramje commented on #24
Hey I'm getting the same problem as yydad117. The array has all 0s in it. :( Please help, this would solve a ton of problems for me if it works

[2017-03-26 19:55] devikaramje commented on #24
`$scope.startCapture = function () {
        try {
            if (window.audioinput) {

                if (!audioinput.isCapturing()) {
                    // Start with default values and let the plugin handle conversion from raw data to web audio
                    audioinput.start({
                        streamToWebAudio: true
                    });

                    // Get the Web Aud

[2017-03-26 21:20] edimuj commented on #24
Do you hear the captured sound if you connect the audioinput source or the scriptprocessor node to the audiocontext destination? I also remember something about the scriptprocessor node having to be connected to the destination or another node (that is connected to the destination) in order for it to work correctly (Chrome/Blink): http://stackoverflow.com/questions/23348109/why-must-a-scriptproces

[2017-03-30 08:14] bc564 commented on #24
Yes I hear captured sound.
I got rid of the script processor node and it works.
I was trying different graphs, now I only use frequency data thanks!

One question - How to get rid of playback of captured sound? It interferes with recording.

[2017-04-12 17:11] devikaramje commented on #24
Thanks for your response!
Yes I hear captured sound.
I got rid of the script processor node and it works.
I was trying different graphs, now I only use frequency data thanks!

One question - How to get rid of playback of captured sound? It interferes with recording. I am not using this -
audioinput.connect(audioinput.getAudioContext().destination);

[2017-04-22 22:53] 1N50MN14 opened #40 "[Android 7] audioinput event not firing"
Hei @edimuj - first thanks for the awesome project! ;)

For some odd reason the `audioinput` event is not firing on Android 7.0, my configuration is basic:

[code]
I'm pretty much following the `file-demo.js` example, which is pretty straight forward, no errors are being thrown either.`(window.audioinput && !audioinput.isCapturing())`is not falsy and `start()` gets executed.

Any tips on what migh

[2017-06-06 16:22] mreinstein opened #41 "raw audio mode sends data as a string?"
@edimuj I noticed these lines in the code:

[code]
(from https://github.com/edimuj/cordova-plugin-audioinput/blob/master/www/audioInputCapture.js#L215)

[code]
(from https://github.com/edimuj/cordova-plugin-audioinput/blob/master/src/ios/CDVAudioInputCapture.m#L93-L95)

It seems that the obj-c code is converting an array of (short ints?) to a string, and then the javascript code is parsing that in

[2017-06-06 16:30] mreinstein commented on #41
Looking at https://cordova.apache.org/docs/en//latest/guide/platforms/ios/plugin.html#ios-cdvpluginresult-message-types

It seems like what we really want is to send the audio data to javascript as an `ArrayBuffer`. I think this will massive improve the plugin performance. I think doing this would solve #4 too

[2017-06-06 17:17] mreinstein commented on #41
@edimuj I took a stab at trying to update the ios code to send an array buffer to javascript:

[code]

This code doesn't compile. I'm sure it's because I am clueless when it comes to objective-c, but hopefully this demonstrates what I'd like to accomplish. Does this make sense?

[2017-06-06 18:51] mreinstein commented on #41
I've played around with this some more.  In `CDVAudioCapture.m`:

[code]

In `AudioInputCapture.js`:

[code]

This *almost* works; it compiles, and it produces audio but it doesn't sound right. Any thoughts on what I'm doing wrong?

[2017-06-06 20:12] edimuj commented on #41
Thanks for looking into this @mreinstein .

I don't quite remember why I chose to send the data as a string, but it was probably due some problems like the above combined with limited time. It looks like you're onto the solution. I looked into this a little bit more now, thanks to you, and noticed this in the Cordova docs for iOS plugin development:

"messageAsArrayBuffer expects NSData* and conve

[2017-06-06 20:48] mreinstein commented on #41
I'm wondering about that too. In my above code, I've disabled the call to `audioinput._normalizeAudio(audioData)` because It's unclear why it divides every sample by `32767`, or why the last value of the array might be a `NaN` value.

I'm under the impression that the `data` argument in `(void)didReceiveAudioData:(short*)data dataLength:(int)length` is in signed int16 format. Is the goal to conver

[2017-06-07 11:20] edimuj commented on #41
Ok, I've had a chance to look into this now a little bit more.

If I have understood the facts correctly, it seems that ArrayBuffers passed between the native and web layers in Cordova plugins always is serialized using base64 encoded strings. So improving performance by using ArrayBuffers instead of the current way which relies on String, probably has no positive impact on performance. I also loo

[2017-06-07 11:35] edimuj commented on #40
Hi, @1N50MN14 ! Sorry to hear that. I just built and tested the plugin on a Nexus 5X with Android 7.1.2, and it seems to work correctly here at least.

With that said, it is sadly a real pain to debug stuff like this :( but it would help if I could take a look at your test app since even minimal changes can lead to errors. It would be even better if I could clone your test app, and build/run it (f

[2017-06-07 11:41] edimuj commented on #38
I'm sorry for the late reply, I just can't see why you get the missing command error. I just tried the plugin on a Nexus 5X with Android 7.1.2 and it works correctly. What Android and iOS devices and OS versions do you use to test your app? Does the app have permission to record audio on your devices?

[2017-06-07 11:43] edimuj commented on #37
Closing this issue, since there haven't been any activity for a while. Just give me a shout, if you want it to be reopened.

[2017-06-07 11:43] #37 closed

[2017-06-07 11:44] edimuj commented on #39
Closing this issue, since there haven't been any activity for a while. Just give me a shout, if you want it to be reopened.

[2017-06-07 11:44] #39 closed

[2017-06-07 11:44] edimuj commented on #34
Closing this issue, since there haven't been any activity for a while. Just give me a shout, if you want it to be reopened.

[2017-06-07 11:44] #34 closed

[2017-06-07 11:45] edimuj commented on #29
Closing this issue, since there haven't been any activity for a while. Just give me a shout, if you want it to be reopened.

[2017-06-07 11:45] #29 closed

[2017-06-07 11:45] edimuj commented on #28
Closing this issue, since there haven't been any activity for a while. Just give me a shout, if you want it to be reopened.

[2017-06-07 11:45] #28 closed

[2017-06-07 11:50] edimuj commented on #24
The only possible way to get this plugin to perform playback is using by the **connect** function you mentioned above and connecting it directly or indirectly to audioContext.destionation. So if you don't use that as well as not using a scriptprocessor, I must see your code to be able to understand why audio is being played through the speakers. Anyway, since scriptprocessors need to be connected

[2017-06-07 11:54] edimuj commented on #23
That is interesting, I thought that recording was stopped if the [self.audioReceiver start]; isn't executed when the app returns from background, since it gets paused when the app is pushed to background. Can you please confirm if this is the case? I would guess that your crash issue has something to do with this though, but I don't know why. The length value probably doesn't have anything to do w

[2017-06-07 11:54] edimuj commented on #18
Closing this issue, since there haven't been any activity for a while. Just give me a shout, if you want it to be reopened.

[2017-06-07 11:54] #18 closed

[2017-06-07 12:04] edimuj commented on #4
Closing this issue, since there haven't been any activity for a while and Cordova seems to serialize all data between native and web layers using base64 encoded string anyway.

[2017-06-07 12:04] #4 closed

[2017-06-07 16:15] mreinstein commented on #41
ok well I guess there's not much to be done here. I suspect the code could be simplified a bit but probably not worth it if there's no big perf game. Disappointing that base64 encoding is the serialization format. :( Thanks for looking into this though!

[2017-06-07 16:15] #41 closed

[2017-06-07 17:22] edimuj commented on #41
No problem, thanks for your interest in improving the plugin. Yes, I'm disappointed as well about the base64 serialization. Though I believe the mobile webviews don't have that type of functionality out-of-box; but passing ArrayBuffers or even direct streaming between the native and weblayers would indeed be a game changer, if that ever gets implemented.

[2017-06-07 18:33] mreinstein commented on #41
@edimuj I just found out today that upcoming safari 11 plans to support media streaming and webrtc. Since this is already present in Android/Chrome this might deprecate this plugin anyway:

https://developer.apple.com/library/content/releasenotes/General/WhatsNewInSafari/Safari_11_0/Safari_11_0.html?utm_source=frontendfocus&utm_medium=email

exciting stuff!

[2017-06-08 11:52] edimuj commented on #41
Yes, I read it too. It looks like they will roll it out as Google did, when they introduced webrtc in chrome: first for desktop safari (with a beta period), then for mobile Safari and last for the webview, so it will probably take a while. It is good news though! 👍

[2017-06-14 10:15] edimuj commented on #26
@faustofjunqueira thanks for sharing!

[2017-06-22 03:10] mreinstein opened #43 "need a way to receive a notification when audio stops recording"
Looking at this line: https://github.com/edimuj/cordova-plugin-audioinput/blob/master/www/audioInputCapture.js#L136

[code]

The first parameter is the success callback according to https://cordova.apache.org/docs/en/latest/guide/hybrid/plugins/#the-javascript-interface

I'm wondering if there's a way we can fire an event when the microphone stops. I'm having an issue with my application where I c

[2017-06-22 15:43] mreinstein commented on #43
@edimuj I've tried locally modifying the plugin to get a success callback to fire, but I wasn't having much luck. Here are the changes I tried:

In audioInputCapture.js
[code]

Maybe I'm missing changes in the native side to get the success callback to fire? I'm unsure. Any thoughts/feedback would be welcome. Happy to submit a PR if we can get this working.

[2017-07-02 11:43] edimuj commented on #43
@mreinstein thanks. I'll start looking into this next week. I agree, there is probably some stuff needed on the native side to get the callback working, both on iOS and Android.

[2017-07-06 00:13] doonfrs opened #44 "Capturing android speaker output ?!"
Hi;
I am asking if it is possible per your experience to use android speaker output as 'input' for the steam.
I saw an application doing this already, but I am wondering if it is possible? I can fork it for this feature but I want to discuss it first.

Thank you!

[2017-07-07 20:44] alindzon opened #45 "cannot compile for IOS swift version is wrong"
I cannot compile my app once this plugin is added.

Any chance someone can fix it for swift 3?

[2017-07-07 22:32] edimuj commented on #45
@alindzon how do you build your app (phonegap build, local cordova build etc.)? What error(s) do you get?

[2017-07-07 22:41] alindzon commented on #45
from visual studio remotely to the mac running xcode 8.  Worked fine until I added this plugin.
1>  Check dependencies
1>MDAVSCLI : warning : no rule to process file '/Users/dev/.taco_home/remote-builds/taco-remote/builds/2653/cordovaApp/platforms/ios/Zonechek/Plugins/cordova-plugin-audioinput/AudioReceiver.h' of type sourcecode.c.h for architecture armv7
1>  “Use Legacy Swift Language Version” (S

[2017-07-07 22:47] edimuj commented on #44
Sorry, I haven't any experience of that. Is it something for capturing speaker sounds directly instead of through the mic, like for call recording? Anyway, sounds like a cool feature, as long as it doesn't get confusing when using the plugin in an app for both Android and iOS. Perhaps the speaker input could be specified as an additional AudioSourceType?

[2017-07-07 23:45] alindzon commented on #45
also this information in the error list
Severity	Code	Description	Project	File	Line	Suppression State
Warning		no rule to process file '/Users/dev/.taco_home/remote-builds/taco-remote/builds/739/cordovaApp/platforms/ios/Zonechek/Plugins/cordova-plugin-audioinput/AudioReceiver.h' of type sourcecode.c.h for architecture armv7	z	C:\d\zc\z\MDAVSCLI	1
Warning		no rule to process file '/Users/dev/.taco_

[2017-07-07 23:52] edimuj commented on #45
Thanks. The ios part of this project is written in objective-c and not Swift. Which version of xcode 8 are you using, 8.3.x? Looks like this particular has been discussed here: https://stackoverflow.com/questions/43240035/xcode-8-3-swift-version-error-swift-version-in-objective-c-project

[2017-07-08 00:03] alindzon commented on #45
Yes it is the latest xcode 8.3.3, i just updated it from an earlier release to see if that would fix it.

Since I am compiling remotely from VS 2015, I cannot figure out what I can do to fix this.  What file or files can I edit to allow the app to compile?  I even added https://www.npmjs.com/package/cordova-plugin-swift-support plugin to see if it would let me fix this in config.xml

[2017-07-08 00:11] alindzon commented on #45
just removed cordova-plugin-swift-support, it broke android compile.

[2017-07-10 16:07] alindzon commented on #45
I have also tried to compile locally on the mac after visual studio does its stuff, using the suggestion above, but that also fails but likely due to the way visual studio and xcode interact.  I suspect if I have to compile using xcode on its own I will have to reconstruct the project plugin by plugin on the mac, and move over the parts I wrote on their own (controllers and views mostly)

Does any

[2017-07-11 13:04] GabrielVanderlei commented on #44
I have this question too. Its like capture the áudio of a sound playing at the background (the origin its an another app).

[2017-07-12 00:38] alindzon commented on #45
i got it to compile using the method above, but when it runs it no longer functions with respect to the local file system.  It communicates with our server based APIs and executes a login, but when it tries to access the local file system, it is now undefined.  That code works fine in the version before I added this, and works no android, but no longer works on IOS.

[2017-08-10 17:23] josaal17 opened #46 "IOS :: how reproduce from /var/mobile/Containers/Data/Application/.../Library/NoCloud/..."
Hello,

The problem I have because at the end of the recording I want to show as a "Preview" of what I recorded, but it gives me error when playing it.

And it is only at the time of reproducing it, because at the time I upload it to the server with that same URL if it works.

I have seen in several forums that it is because it doesn't have permissions to use from that "url", which should be of a

[2017-08-16 14:27] d8bhatta opened #47 "Missing: cordova-plugin-file or cordova-plugin-audioinput!"
Hello,
I have installed cordova-plugin-audioinput plugin and  trying several ways of playing audo referencing demo folder. When i try using file-demo.html and copied its css and js files into www dir and run emulator, I get following error:

Missing: cordova-plugin-file or cordova-plugin-audioinput!

This error is coming from utils.js but not sure what is actual source.

Can you please suggest me

[2017-08-18 15:33] edimuj commented on #47
Hi,

The file-demo needs to run in a cordova container, and your Cordova project needs to have the cordova-plugin-audioinput as well as the [cordova-plugin-file](https://github.com/apache/cordova-plugin-file) in order to work correctly.

[2017-08-18 15:44] edimuj commented on #24
Doing some housekeeping: Since there hasn't been any action regarding this issue for a time now, I'm closing it.

[2017-08-18 15:44] #24 closed

[2017-08-18 15:45] edimuj commented on #23
Doing some housekeeping: Since there hasn't been any action regarding this issue for a time now, I'm closing it.

[2017-08-18 15:45] #23 closed

[2017-08-18 15:45] edimuj commented on #38
Doing some housekeeping: Since there hasn't been any action regarding this issue for a time now, I'm closing it.

[2017-08-18 15:45] #38 closed

[2017-08-20 08:48] d8bhatta commented on #47
@edimuj  Thank you for your reply. I dont know whether file-demo is running in cordova-container or not, how can I make it running in the container?

The plugins I have are:

$ cordova plugin -l
cordova-plugin-audioinput 0.3.0 "Audio Input"
cordova-plugin-compat 1.1.0 "Compat"
cordova-plugin-file 4.3.3 "File"
cordova-plugin-media-capture 1.4.3 "Capture"
cordova-plugin-whitelist 1.3.2 "Whitelist"

[2017-08-21 14:58] edimuj commented on #47
Thanks, which emulator do you run the app in? Android or iOS? I have actually never tested the plugin on an emulator, so it would be good if you could test the plugin on a physical device.

[2017-08-22 09:22] zamrokk opened #48 "Start then stop then start again failed !"
First time start is called, I receive data on my buffer
Then I call stop, the capturing is false

If I call start again, the capturing says true, but I receive nothing on my buffer.
Neither the event listener for success or error is called in fact ...

I tried to remove it each time and adding it again but it changes nothing :(

[2017-08-22 14:40] edimuj commented on #48
Could you please tell us something about your environment: Do you run in on iOS, Android, emulator, Cordova version etc?

[2017-08-22 14:43] zamrokk commented on #48
ionic 2
cordova 7.0.1

using emulator on iOS

[2017-08-22 14:44] edimuj commented on #48
I haven't actually tested this plugin on an emulator. Does it work as expected on a real device?

[2017-08-22 14:49] zamrokk commented on #48
I do not have an iPhone

2017-08-22 16:44 GMT+02:00 Edin Mujkanovic <notifications@github.com>:

[2017-08-22 14:50] edimuj commented on #48
Does it work on any real device? Android included.

[2017-08-22 14:58] zamrokk commented on #48
Not yet tested.

I have passed to another solution using a native speech recognizer as the
speech to text api i was using with the audio was poor :/

2017-08-22 16:50 GMT+02:00 Edin Mujkanovic <notifications@github.com>:

[2017-08-24 09:50] edimuj commented on #48
Ok, sounds like a good solution.

[2017-08-24 10:00] zamrokk commented on #48
I don't know yet.... I see bugs too on the native recognizer. Maybe I will
finally be back and test with another speech to text API . Lol

Le 24 août 2017 11:50, "Edin Mujkanovic" <notifications@github.com> a
écrit :

[2017-08-30 07:26] d8bhatta opened #49 "Play remote audio file"
Hello,

I am trying to play remote audio file through this plugin. Here is my script https://pastebin.com/K08PbXU2

I can make sure that my audio file url is correct but still this plugin is not playing the audio.

Next, I have downloaded the audio file into cordova file system and tried to play it but its not playing. I have checked that the audio file exists in the system.

This is critical to m

[2017-08-31 12:54] edimuj commented on #49
Hi, the purpose of this plugin is to capture audio from the device microphone. So it isn't a multi-purpose audio plugin, and hasn't, therefore, any built-in support for playing back local or remote audio files. There are many other ways of playing back audio files, like for example the [cordova-plugin-media](https://github.com/apache/cordova-plugin-media), [cordova-plugin-nativeaudio](https://gith

[2017-08-31 12:55] edimuj commented on #48
Well, good luck. I'm closing this issue for now, but feel free to reopen it or create a new one should the need arise.

[2017-08-31 12:55] #48 closed

[2017-09-07 09:45] ma4xat opened #50 "Any way to detect blow in the microphone?"
I want to differenciate if the users just talk or blow the microphone, for a happy birthday app :)

[2017-09-13 09:44] edimuj commented on #47
Since there haven't been any activity on this issue for some time, I'm closing it. If there is more information, feel free to open it again.

[2017-09-13 09:44] #47 closed

[2017-09-13 09:44] #49 closed

[2017-09-13 09:51] edimuj commented on #46
Hi, this plugin cannot itself be used to playback audio, since its purpose is to capture the audio, so I guess you use some other way of playing back the preview? In which audio format do you capture the audio (Web audio buffers, Wav etc.), and how do you try to playback the preview (Web audio, Cordova-Plugin-Media etc.)? Some code would make it easier to determine what and why it doesn't work to

[2017-09-13 09:54] edimuj commented on #44
Since there haven't been any activity on this issue for some time, I'm closing it. If there is more information, feel free to open it again.

[2017-09-13 09:54] #44 closed

[2017-09-13 16:13] josaal17 commented on #46
Thanks for the help,

If correct is right, I after testing I saw that the problem was presented in the other plugin where I stored the audio.

At first it is a bit confusing because one thinks that it records it I immediately store it in one direction but it is at that moment that another plugin enters to save it in some folder of the phone.

Use the plugin file and I had to change the folder in w

[2017-09-13 16:13] #46 closed

[2017-09-13 17:03] edimuj commented on #46
Ok, good that you managed to solve the problem. Big thanks for the thorough explanation, it may help somebody else having this problem.

[2017-10-06 18:49] phal0r opened #51 "Bug when working with different AudioContexts in WebAudio mode"
Hi @edimuj ,

thanks for this nice plugin. While testing I discovered a minor bug, that lead to the crash of my webapp running in cordova under iOS. I am using webaudio and your plugin to record audio and to prevent blocking hardware resources I close and release the audio context once the recording is finished. Subsequent calls to audioinput.start would fail with a strange error.

How to reproduc

[2017-10-06 21:25] edimuj commented on #51
Thanks, @phal0r for reporting this and for the thourogh explanation. I´ll look into this as sson as I can, and provide a fix. If you want it sooner than later, feel free to submit a PR.

[2017-10-06 21:27] edimuj commented on #45
@alindzon have you tried this plugin to add Swift 3 support to your project?

[2017-10-06 21:29] edimuj commented on #43
@mreinstein sorry for the long delay, I have been extremely busy with commercial projects since summer. If you submit a PR, I’ll be happy to merge it.

[2017-10-06 21:32] edimuj commented on #50
@ma4xat I haven’t needed that type of functionality myself. The purpose of this plugin is to determine if there is sound that is comparable to speach for a minimum amount of time. If you find a way to add the functionality for blow detection, feel free to submit a PR.

[2017-10-06 22:56] mreinstein commented on #43
@edimuj no worries, I've actually moved away from native to web development for this application. As of ios11, safari supports microphone input! :)

[2017-10-08 13:18] #43 closed

[2017-10-08 13:18] edimuj commented on #45
Since there hasn't been any activity on this project for some months now, I'm closing it. Feel free to reopen if a need arises.

[2017-10-08 13:18] #45 closed

[2017-10-08 13:19] edimuj commented on #50
Since there hasn't been any activity on this project for some time now, I'm closing it. Feel free to reopen if a need arises.

[2017-10-08 13:19] #50 closed

[2017-10-08 13:19] edimuj commented on #21
Since there hasn't been any activity on this project for quite some time, I'm closing it. Feel free to reopen if a need arises.

[2017-10-08 13:19] #21 closed

[2017-10-08 13:19] edimuj commented on #2
Since there hasn't been any activity on this project for quite some time, I'm closing it. Feel free to reopen if a need arises.

[2017-10-08 13:19] #2 closed

[2017-11-30 06:55] Lingomat opened #53 "Multiple game breakers on Android"
Plugin basically doesn't work using with events. AudioInputCapture.java has this in initialize and start:

[code]

I don't know much about Java but that's clear broken. This seems to work:
[code]

I'd PR it but even with the fix the window audioinput event only fires once and not repeatedly as expected.

[2017-12-01 14:15] robertfromont commented on #53
Thanks for the suggestion, it's part of the fix, which I've just pushed to [https://github.com/nzilbb/cordova-plugin-audioinput](https://github.com/nzilbb/cordova-plugin-audioinput)
A pull request has been created.

[2017-12-02 02:31] Lingomat commented on #53
Ooo, thanks for that. Your PR makes other changes which looks like it might address the fire-once thing too? I guess I  should try figure out how to debug java so I can contribute directly when possible.

[2017-12-02 06:46] Lingomat commented on #53
Confirmed, works great.

[2017-12-03 10:01] edimuj commented on #53
The PR has been merged. Thanks for the quick fix @robertfromont and thanks for telling us about the problem @Lingomat

[2017-12-03 10:01] #53 closed

[2017-12-07 01:36] tchantchoj opened #55 "Dependency with cordova-plugin-compat since cordova-android 6.3.0 ?"
Hello,

Now that cordova-plugin-compat is embedded in cordova-android 6.3.0, do you plan to remove the dependency with cordova-plugin-compat in this plugin?

Thanks.

[2017-12-09 11:27] edimuj commented on #55
Hi, no it will not be removed, since that would break the builds for those that still run an older version of the Android platform. But I will specify, when I have some time, that the 1.2.0 version of the compat plugin is to be used, since that version automatically detects if it is needed or not.

[2018-01-02 19:19] swhile opened #56 "App crash on iOS 11"
Hi.  First, I love this plugin because it gets the microphone permission on iOS without opening a separate recorder app.  We use it in a language learning app to parse speech with the Google Speech API.

Has the plugin been tested with iOS 11 yet?  I'm using version 0.3.0 of the plugin, but I have tried master and get a different error.  For version 0.3.0, my app is crashing on iOS 11 after the us

[2018-01-15 13:58] jdtzmn opened #57 "Cordova Plugin Repository is not up to date"
I first installed this plugin from the cordova plugin registry:

`$ cordova plugin add cordova-plugin-audioinput`

But I got an error that it was missing the initialize method, and after checking the code, I can verify that it is missing.

Installing from the github page works though

[2018-01-16 23:03] edimuj commented on #57
Thanks, @jdtzmn ! I will fix this ASAP.

[2018-01-22 02:22] swhile commented on #56
It took a while, but after further investigation, I determined the app crash was caused by a different Cordova plugin.  I was thrown off because the crash happened after clicking OK for microphone permission.

[2018-01-22 02:22] #56 closed

[2018-01-22 10:08] edimuj commented on #56
Thanks for the update, @swhile and I’m glad that you identified the source of the issue.

[2018-01-24 04:54] n1313 commented on #57
It seems I am affected by this is well (can't check for microphone permissions).

[2018-02-07 19:50] floydus opened #58 "Cannot read property '0' of undefined when encoding"
I get this error, and seriously not getting why, seams the encoder fails to encode.
It fails calling the encode method, I'm using the same parameters as the config, which is CD_AUDIO_44100Hz and STEREO, the array as some data in it (not zero length)
Any clues anyone ?  Thanks.
Here is a screenshot of the failing portion of code.
![screen shot 2018-02-07 at 2 41 18 pm](https://user-images.githubuse

[2018-02-15 15:08] aigenseer opened #59 "cordova-plugin-audioinput not found"
When I try to use your demo examples, I get the error message: "cordova-plugin-audioinput not found".

I'm using your script in version 0.5.0 with Android 7.0 and cordova 8.0.0.

Could you please give me additional help?

[2018-02-19 15:28] aigenseer commented on #24
Thank you for your help!

I have tried to convert your pseudocode, but get some errors.
As described above, I get back only zeros in the array. From my understanding, the "processorNode" object is only responsible for repeating the volume limit. Have I understood that correctly?

Here is my code:
[code]
I get the following issue:

Uint8Array(1024) [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0

[2018-02-19 17:44] swhile commented on #28
I am currently experiencing this issue, too.  I fixed it by installing the av-audio-sesson-adapter plugin mentioned by @edimuj, and setting the option for AVAudioSession.CategoryOptions.DEFAULT_TO_SPEAKER after recording stops.

[2018-02-20 06:38] aigenseer commented on #59
@edimuj:  I found the mistake. In the file www/audioInputCapture.js I have adapted the following lines:

[code]
to

[code]
I do not know why the other modules are needed

[2018-03-22 14:11] #51 closed

[2018-03-22 14:11] #55 closed

[2018-03-22 14:11] #59 closed

[2018-03-22 14:18] edimuj commented on #57
Ok, I've just published the latest version (1.0.0) to the npm repository.

[2018-03-22 14:18] #57 closed

[2018-03-22 15:06] phal0r commented on #51
Thanks for coming back to this bug :)

[2018-03-22 15:09] edimuj commented on #51
And thank you for the thorough explanation of the error, made it simple for me to fix the issue.

[2018-03-23 07:52] edimuj commented on #58
Do you get any details about how the encode execution fails?

On which type of device and OS does the error occur? Not all systems support all given parameters, have you tried differnt settings for mono/stereo and sample rate in the wavencoder?

[2018-03-27 11:17] sarnold04 opened #60 "Audio event not firing."
Hey everybody,

we wanted to include the plugin in our app, because we faced challenges with the webRTC possibilities on iOS.

After the plugin didn't work in our app, we built a demo app, but same problems there. I attached the files for this.

We are currently not getting an AudioInput event fired, but also no errors. We tested it on an iPad Mini 4 with iOS 11.3 and iPhone7 Plus with iOS 11.2.6.

[2018-03-27 15:06] alindzon opened #61 "uses plugin.compat which is deprecated"
Can we get rid of that?

[2018-03-27 15:36] sarnold04 commented on #60
I've just tested the application on Android and it works just fine. All events are fired. From user point of view everything between iOS and Android is the same both are checking for microphone permission but after that Android is showing audio events and iOS does not.

[2018-03-27 18:09] edimuj commented on #61
From the README of https://github.com/apache/cordova-plugin-compat:
”This plugin is no longer being worked on as the functionality provided by this plugin is now included in cordova-android 6.3.0. **You should upgrade your application to use version 1.2.0 of this plugin. It will detect whether or not the plugin is required based on the version of cordova-android your app uses.**”

Cordova-plugin-a

[2018-03-27 18:12] edimuj commented on #60
Thanks for the thourogh description. I will look into this tomorrow.

[2018-03-27 18:54] alindzon commented on #61
Yes, I ended up upgrading compat to 1.2 which seems to have resolved the build issues.
Thanks.

Warmest Regards,

Andrew Lindzon
647-388-3095

From: edin <notifications@github.com>
Sent: March 27, 2018 2:09 PM
To: edimuj/cordova-plugin-audioinput <cordova-plugin-audioinput@noreply.github.com>
Cc: Andrew Lindzon <andrew@ashlin.ca>; Author <author@noreply.github.com>
Subject: Re: [edimuj/cordova-plu

[2018-03-27 21:14] edimuj commented on #61
Good to hear that it solved the problem @alindzon

[2018-03-27 21:15] #61 closed

[2018-03-28 13:06] pagrawl3 opened #62 "window.audioinput is undefined"
Hi

I tried adding this plugin but none of the methods seem to be defined.

I'm trying to initialise after the deviceready event (all the other plugins work)

Cordova version: 8
Plugin version: 1.0.0

Am I missing something ?

[2018-03-28 13:31] #60 closed

[2018-03-28 13:57] edimuj commented on #62
Hi @pagrawl3 I've been working with the plugin in an app today when solving #60 and I didn't encounter the issue you describe. My project use Cordova 8.0.0

And the following platform versions:
<engine name="ios" spec="^4.5.4" />
<engine name="android" spec="^7.1.0" />

[2018-03-28 13:58] edimuj commented on #58
Since there haven't been any activity on this issue for a while now, I'm closing it, but feel free to open it again if you feel the need.

[2018-03-28 13:58] #58 closed

[2018-03-28 16:35] floydus commented on #58
Thanks for coming back on this, I actually decided to look at other options, also, it's been too far behind and I just can't remember my issue at the time.  That is why I did not reply quickly. Thanks again Ed.

[2018-03-28 16:36] edimuj commented on #58
No problems @floydus , thanks for the response.

[2018-03-28 17:40] richardbmx opened #63 "Logo proposal for the application"
Hello I would like to contribute in your application with a new logo icon I leave the proposal if you like I can send you all the files.... greetings ..

![logo152](https://user-images.githubusercontent.com/35604837/38046281-4acb47bc-328d-11e8-9d77-99405407a457.png)

[2018-03-28 18:17] edimuj commented on #63
Hi, @richardbmx I like it and would gladly use it in the [app-audioinput-demo](https://github.com/edimuj/app-audioinput-demo). Really appreciate this! 🥇

[2018-03-28 22:59] richardbmx commented on #63
Perfect that good that you liked I leave here the link with all the files of the icon and a logo version type.

All File [Google Drive](https://drive.google.com/open?id=1PEg0XMhMfqhgCjE0qBvmMa31UqPRxAFB)

[2018-03-29 07:31] edimuj commented on #13
Fixed by PR #52

[2018-03-29 07:31] #13 closed

[2018-03-29 07:31] edimuj commented on #27
Partly solved by PR #52

[2018-03-29 09:19] edimuj commented on #63
Thank you so much, @richardbmx

I just added the logo as an icon to the app: https://github.com/edimuj/app-audioinput-demo/commit/b610e2bc422aa8d29e6774e05df392c9989cf43b

[2018-03-29 09:30] edimuj commented on #63
Now also shown on in the README file: https://github.com/edimuj/app-audioinput-demo. Added you in the contributor section.

[2018-03-29 09:30] #63 closed

[2018-03-29 22:03] richardbmx commented on #63
Perfect that good that you liked a pleasure to converse with you I am available for future applications has my support greeting ...

[2018-04-05 04:58] hoboman313 opened #64 "[Question] How to get the mic mediaStream?"
Sorry, for the noob question. I came across this lib while trying to find an alternative for `navigator.mediaDevices.getUserMedia({ audio: true })` which does not work with cordova-android 6.4.0 for me because of "NotReadableError - Could not start source" even with the mic permission enabled. I've been trying to figure out how get the recording mic's mediaSteam from `audioinput`. Any suggestions?

[2018-04-05 11:29] edimuj commented on #64
It should be relatively to get the microphone stream using the plugin. Have you tried the example app? The examples in there should show you how to do it: https://github.com/edimuj/cordova-plugin-audioinput

The other issue you have been having sounds like it has something to do with permissions actually. If your targetSdk is 23+ then the app will basically ignore the static permissions and instea

[2018-04-05 22:02] hoboman313 commented on #64
Yes, I'm on 23+. I'll check that out later, thx.
I have looked through all of your examples and I feel like I'm missing something obvious. This lib (with streamToWebAudio: true) returns a https://developer.mozilla.org/en-US/docs/Web/API/AudioContext but I need a https://developer.mozilla.org/en-US/docs/Web/API/MediaStream to achieve parity with ```navigator.mediaDevices.getUserMedia({ audio: true

[2018-04-05 22:56] edimuj commented on #64
There is actually a way:
If you need a MediaStream, you should be able to connect the audioinput to a [MediaStreamAudioDestinationNode](https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamAudioDestinationNode) as you see in the example there, an oscillator node is connected to such a node, but in this case you would do something like this instead:
[code]
And now you should be able to refer

[2018-04-05 22:58] edimuj commented on #62
Closing this issue due to lack of activity, feel free to open it again if needed.

[2018-04-05 22:58] #62 closed

[2018-04-05 23:00] edimuj commented on #12
I've been working on this and should be able to commit the update soon. The changes includes the (optional) usage of a Web Worker for stuff like normalizing and down/upsampling audio, which should improve performance significantly.

[2018-04-05 23:11] edimuj opened #65 "Add getAudioMediaStream() function to library (MediaStream)"
Some apps may need a MediaStream instead of an AudioNode or raw audio data.

It should therefore be possible to also get a MediaStream from the audioinput.

Should be implemented by returning the `stream` from a  [MediaStreamAudioDestinationNode](https://developer.mozilla.org/en-US/docs/Web/API/MediaStreamAudioDestinationNode).

This would enable you to do stuff like this:

[code]

[2018-04-05 23:29] hoboman313 commented on #64
Perfect. You're the man.

[2018-04-05 23:29] #64 closed

[2018-04-10 23:36] tidjani732 opened #66 "Is there anyone who can help me with an ionic 3 usage example of audio-input"
Am new with ionic and it's  difficult for me to use this plugin on ionic.
Please Help me.

[2018-04-11 07:27] javaspaces opened #67 "Plugin doesn't support this project's cordova-android version. cordova-android: 7.0.0"
Hi,

I'm trying to use this plugin with my Android app, and when I try to add the plugin to my project, I get the following error message:

"Plugin doesn't support this project's cordova-android version. cordova-android: 7.0.0, failed version requirement: <6.3.0"

What can I do to resolve this issue?

[2018-04-11 09:08] edimuj commented on #67
Actually this is not an error. This plugin depends on the [cordova-plugin-compat](https://github.com/apache/cordova-plugin-compat) v1.2.0, that only is used in older cordova projects. In newer projects, such as yours, the message above is shown indicating that the cordova-plugin-compat wasn't needed and therefore wasn't added. You can read more about this here: https://github.com/apache/cordova-pl

[2018-04-11 09:09] #67 closed

[2018-04-11 09:26] edimuj commented on #66
Hi, and thanks for asking. I don't use Ionic 3, but it should be possible to use this plugin by adding the following line to the provider/page where you need to use it:
`declare let audioinput: any;`

[2018-04-11 22:53] tidjani732 commented on #66
Thank @edimuj for your fast response.
I couldn't make it that way but am still on it..
I tried something that seemed to work for microphone permissions but yet i am unable to register audio files..

Using this plugin with cordova-plugin-media registered but yet i didn't get the file path..

[2018-05-04 09:43] gabrielfreire opened #68 "Window event 'audioinput' not being triggered in Ionic 3"
Hi Guys, i'm very happy i found your plugin, i've been looking for a plugin with similar API to the web audio API for a long time, but i can't make the `audioinput` event get triggered

I'm emulating IOS/Android in the browser

The plugin was installed correctly.
I used this line on top of my Angular provider to make `audioinput` work

[code]

My initialize function: the callback contains permissi

[2018-05-04 12:09] edimuj commented on #68
Hi, @gabrielfreire and thanks for your thorough issue description. I believe that that this is not a bug, but expected behaviour.

It would technically be possible to send the events as well as forwarding the audio to web audio, but when I created this plugin, I didn't see the need for this, so it is currently only possible to process the audio using one of the supported methods, that is by using

[2018-05-04 12:28] edimuj opened #69 "Enable simultaneous usage of audioinput events and streamToWebAudio"
Today the plugin allows a user to either use audioinput events or streamToWebAudio to get the captured audio data. It should be possible to specify that both could be used at the same time. Since this behavior can be considered as a breaking change, it should not be enabled by default, but instead activated by a new parameter in the capture cfg, like for example, alwaysEnableAudioEvents (default:

[2018-05-04 17:14] gabrielfreire commented on #66
Hi @tidjani732, i made it work by declaring that variable on top of my Angular Provider, for some reasons that's the only place i don't get `undefined` errors, also, don't try to `console.log(audioinput)` on any constructor, it will almost always be `undefined`. i would use `ngOnInit()` or any of the `onloaded` Ionic events to `console.log` this thing.
[code]

If by "register audio files" you mean

[2018-05-04 20:04] edimuj commented on #68
Yes, when using streamToWebAudio: true, the audioinput plugin will convert the raw audio from the microphone to a web audio stream with an internal Web Audio Node. It is this Audio node that you connect to your own Audio Node (in this case a scriptProcessorNode) using the audioinput connect() function.

I only use the device and emulator for this, so I cannot answer that. The browser implementatio

[2018-05-08 06:33] kvharish opened #70 "getMicrophonePermission not opening permission popup after denying it first time in iOS"
Used the below code given in example but "Ask the user for permission to access the microphone" part of the code does not open the permission popup the second time. Please note the first time I denied access.

// First check whether we already have permission to access the microphone.
window.audioinput.checkMicrophonePermission(function(hasPermission) {
	if (hasPermission) {
		console.log("We alre

[2018-05-08 14:44] robertfromont commented on #70
This is, unfortunately, a behaviour in iOS. If you deny access, iOS will never ask again, the user has to go into the app settings and explicitly enable microphone permission.
(On Android, there's a 'don't ask again' checkbox that has the same effect, but it's unchecked by default, so generally, they'll be repeated asked until they check the box or allow permission)

[2018-05-14 07:15] kvharish commented on #70
Thanks for the clarification.

[2018-05-14 07:20] kvharish opened #71 "This plugin is not working in Xiaomi devices"
This plugin is not working in Xiaomi devices. While debugging I can see that it is always getting permission value as granted but that is not the case. I am using Xiaomi MI6, MIUI 9.2 Stable (9.2.4.0).

[2018-05-14 11:59] #70 closed

[2018-05-14 21:08] edimuj commented on #68
I`m closing this. Feel free to open an issue if it still is a problem.

[2018-05-14 21:08] #68 closed

[2018-05-14 21:10] edimuj commented on #66
I`m closing this due to inactivity. Feel free to open a new issue if this is still a problem.

[2018-05-14 21:10] #66 closed

[2018-05-14 21:11] edimuj commented on #71
Which Android version? And can you confirm that this is an issue with all Xiaomi devices and not only MI6?

[2018-06-03 13:01] edimuj commented on #71
Since there has been no activity on this issue for some weeks now, Im closing it. Feel free to open again if you hqve more information.

[2018-06-03 13:01] #71 closed

[2018-06-05 00:49] marcushat commented on #62
Having the same issue. The audioinput event never fires

[2018-06-05 07:04] edimuj commented on #62
@marcushat Do you have any other helpful information to share with the community? Like for example Source code, cordova and platform versions and on which device models you tested the plugin on? If you do, please create a new issue instead of commenting on a closed one.

[2018-06-06 14:17] marcushat commented on #62
I figured it out. It doesn't fire on the browser, only devices. Should add this to readme

[2018-06-07 08:10] edimuj commented on #62
Ok, thanks for letting us know. Will update the readme.

[2018-06-09 17:16] projectoblio commented on #69
Sorry... I'm new to Github, but I've forked your repo and added the capability to stream to multiple WebAudio API nodes. I've also added the capability to stream to a bluetooth headset.

I would have submitted a fork or PR but I'm new to Github and didn't know how, also my code is a breaking change (it requires an "id" for each audioNode).

https://github.com/Project-Oblio/cordova-plugin-vybuds-au

[2018-06-10 10:31] edimuj commented on #69
Hi and thanks for your contribution. I’m looking forward to study it some more in the coming days, and get back to you regarding how to best incorporate your code into the project.

[2018-06-10 17:18] projectoblio commented on #69
It might be easier to just explain in words. The problem was that the audioinput.disconnect() method disconnects ALL audio nodes.  Also, audionput.disconnect() is called within the audioinput.connect(audioNode) method.  So, everytime you connect to a node, you disconnect from a previous one.  Specifying an "id" (audioinput.connect(audioNode,id) and audioinput.disconnect(id)) makes this an easy fix

[2018-07-04 10:05] desmeit commented on #24
Working code is:

[code]

[2018-07-16 07:06] adavila78 commented on #24
Hi desmeit, does your example process volume levels as they are happening? or only until you press stop??

[2018-07-26 10:11] kvharish commented on #71
Sorry for replying late.

Found what the problem is. I was adding the plugin in config.xml straight away like

`<plugin name="cordova-plugin-audioinput" spec="1.0.1"/>`

Now I have added for iOS and Android separately

[code]
Works like a charm.

[2018-07-26 10:16] edimuj commented on #71
Thanks, @kvharish! No problems, I'm just glad that your found a solution and appreciate that you published it here for others to see that may have the same problem. I'm also looking into this myself.

[2018-07-31 20:02] JRR-OSU opened #74 "[Question] Generating a live waveform from the device microphone"
Thank you for this plugin @edimuj. I just came across it when attempting to implement something for my current project and it looks great!

I have one question for you. I'm currently using Ionic 3 with Cordova and looking to integrate your plugin. My goal is to create a waveform of the device's mic input (both on iOS and Android). How could I achieve something like this [example](https://codepen.i

[2018-08-02 11:33] edimuj commented on #74
Thanks!
It should at least be simple to achieve the same thing using this plugin regarding the real-time analyser which powers the drawing of the audio waveform. The recording part can also work, but it requires a little more work alt. using a third party library.

The code you referred to, uses `getUserMedia` to get audio input (`requestMicrophoneAccess` function) and `createMediaStreamSource` to

[2018-08-02 12:05] edimuj commented on #69
Sorry for the loong delay, but I've been really busy with various projects, but I've finally looked at your code. I understand why you implemented these changes, and they make sense in specific scenarios. But since it is breaking changes, I cannot incorporate them in this project. At least not "as is", but it would be a good addition if it was possible to have this feature in the plugin as an opti

[2018-08-02 12:09] edimuj commented on #65
Reminder: MediaStream and CreateMediaStreamDestination isn't available in the iOS WebViews, the change should take this into account.
Maybe using polyfills on platforms where these where they aren't available so that getAudioMediaStream returns an object that copycats a stream would be a good approach?

[2018-08-02 12:21] edimuj opened #75 "Polyfill getUserMedia etc. so that plugin can be used seamlessly on all platforms"
I believe that most users of this plugin, use it as a 1-1 substitute for getUserMedia, since it still isn't available in the iOS WebViews. It would be tasteful to be able to hide the custom API of this plugin behind a polyfill for getUserMedia. On platforms where getUserMedia exists, it would be returned instead, while on iOS the plugin is used to power the same thing.

This would require implemen

[2018-08-03 15:52] edimuj commented on #74
Sadly I don't think it will work to have two different parts of the app accessing the mic at the same time. Since the media and audioinput plugin aren't built to work in concerto with others, I wouldn't expect them to work together.

I've actually heard that some Android devices may be able to do this (e.g. OnePlusOne), but far from all and I don't know if this applies to Cordova apps.

Normally i

[2018-08-03 16:08] JRR-OSU commented on #74
@edimuj Were you able to find any sort of solution to the crashes with wavesurfer? (I know we're getting off topic, however using wavesurfer in tandem with your plugin is what I hope to achieve)

[2018-08-03 17:15] edimuj commented on #74
I didn't dig to much into it, but I'm pretty sure that it isn't some kind of bug in wavesurfer, just the fact that loading large files into memory may lead to crashes if there aren't enough of it.

[2018-08-23 10:33] engr-Eghbali commented on #27
hi.
I have a strange problem with your "advanced example".
Got file system: temporary,
Already have permission to record,
BUT:
"Could not resolveLocalFileSystemURL : undefined" and when I print 'url' in audioinput.stop , it is just "OK" !
how could the url be just "OK" ?!

`  document.getElementById("record").addEventListener('touchend',function(event){
    audioinput.stop(function(url) {

[2018-08-23 21:02] shi11 opened #76 "stereo recording"
Hi, I'm trying out your plugin and first want to say great work! I'm specifically testing whether I can record in stereo.

In your wav-demo.js file, I added CHANNELS.STEREO to this block

`captureCfg = {
                audioSourceType: parseInt(audioSourceType),
                channels: window.audioinput.CHANNELS.STEREO
            };`

however I'm getting this error caught in stopCapture().

an

[2018-08-30 13:44] libyenter opened #77 "bluetooth issue"
It's a very good plugin, really something I'm looking for.

I was playing your example code within an ionic APP on my iPhone, everything is fine, but I met a problem when I connect my Bluetooth earphone, the audio is still play to the speaker but not to the earphone (the wireless connection is ok, because when I play the Apple Music, it's in the earphone).

What I mean is I would like capture the

[2018-09-09 12:53] edimuj commented on #77
I would use another plugin for that, like for example: https://github.com/danielflippance/audiotoggle or https://github.com/saghul/cordova-plugin-audioroute

[2018-09-09 12:54] edimuj commented on #76
It sounds like the plugin isn't properly installed in your app for some reason. Does this error occur in mobile or in a browser? Do the window.audioinput object actually exists?

[2018-10-02 06:56] NickLusson opened #78 "uncaught reference error: Console message is not defined"
Hi,.. Thanks for this..

When i use the code as you have provided.. when running the code it always displays "Not Ready".

In the debugger it says:
wav-demo.js:173 Uncaught ReferenceError: consoleMessage is not defined
    at onDeviceReady (wav-demo.js:173)
    at wav-demo.js:182

[2018-10-02 09:29] NickLusson commented on #78
when i remove the plugin and add it again it says:

Plugin doesn't support this project's cordova-android version. cordova-android: 7.1.1, failed version requirement:
      <6.3.0
Skipping 'cordova-plugin-compat' for android

[2018-10-11 02:55] kpwa opened #79 "doesnt steam after second attempt"
Audio recording works on first round when i call .stop then start again, it doesnt work

ionic 3

[2018-10-16 10:38] projetoarduino commented on #65
Hi i want implement this plugin in my cordova app.
I want implement this in webRTC conection, but ios not have getUserMedia() function.
Please you can me help ?

[2018-10-17 09:40] edimuj commented on #65
Yes, the missing getUserMedia in the iOS webviews is one of the reasons that this plugin exists, but it isn't currently a complete implementation of getUserMedia (for example only audio input is supported).

But luckily there already exists a cordova plugin for using WebRTC on iOS: https://github.com/BasqueVoIPMafia/cordova-plugin-iosrtc

I would recommend you to look into that plugin instead.

[2018-10-24 01:35] kpwa opened #80 "audioinput.stop() stream to web problem"
one i call audioinput.stop() the next streamtoweb audio will just stop working.

[2018-10-24 01:38] kpwa commented on #51
i am experiencing this problem in ios 11. i understand an update is applied for tis fix but in ios its still happening

[2018-10-26 16:06] edimuj commented on #80
Do you have some code showing how to trigger this issue?

[2018-11-22 11:30] smgdesign opened #81 "audioinput event seems to ignore sample rate"
Hi there, great plugin, it's really useful!

I'm using it in Cordova and recording wav input from the microphone into an array buffer that I then pass to a C library for audio analysis.

It's all working really well, but the audioinput event doesn't seem to be listening to the sample rate I set. I'm probably using it wrong, or misunderstanding the way the event is utilised but was wondering if you

[2018-11-24 18:14] Bobisback commented on #64
This is gold thanks for the input!!!!

[2018-11-25 02:30] edimuj commented on #78
The "cordova-android: 7.1.1" is not an error message. It only indicates that the cordova-plugin-compat plugin isn't needed and won't be installed along with this plugin.

As for your other issue, I don't really know why this happens, since it isn't something that I can reproduce. Do you have a project I can look at perhaps?

[2018-12-01 23:03] smgdesign commented on #81
Hi, thanks for the reply. I did some more investigation and can confirm that the minimum sample rate for iOS is actually 8kHz so that definitely wasn't the issue. I forked the plugin and set it up locally to do some debugging and found that the sample rate was being followed by the capture event. I had an issue converting the data, once I corrected that problem, the number of samples reflected wha

[2018-12-10 04:59] Bobisback commented on #68
@gabrielfreire I am trying to use this plugin with ionic 4, do you by chance have a short guide on how to install this and use it in ionic 3?

Thanks,
Bob

[2018-12-10 15:00] gabrielfreire commented on #68
Hi @Bobisback , after installing it you need to ensure it was added on `config.xml`
if not, add this line
`<plugin name="cordova-plugin-audioinput" spec="^1.0.1" />`
change the `spec` value to your version
in typescript you need to declare global variables, like `audioinput`
[code]
and then just make it listen for the event
[code]

this is where i ask for the mic to record
[code]
this is where i c

[2018-12-10 15:03] gabrielfreire commented on #68
Also make sure you have this on your `package.json`

[code]

[2018-12-11 14:17] LavaRiddle commented on #12
This update would be awesome @edimuj - appreciate you're busy with live and other things. Any rough timescale of when you'd possibly merge this feature in?

[2019-01-09 10:19] edimuj commented on #81
Good to hear that you solved this, and thanks for the update.

[2019-01-09 10:19] #81 closed

[2019-01-09 10:20] edimuj commented on #78
Since there haven't been any activity on this issue for some months now, I'm closing it. Feel free to open it again if there is any change or new information.

[2019-01-09 10:20] #78 closed

[2019-01-09 10:21] edimuj commented on #77
Since there haven't been any activity on this issue for some months now, I'm closing it. Feel free to open it again if there is any change or new information.

[2019-01-09 10:21] #77 closed

[2019-01-09 10:21] edimuj commented on #76
Since there haven't been any activity on this issue for some months now, I'm closing it. Feel free to open it again if there is any change or new information.

[2019-01-09 10:21] #76 closed

[2019-01-09 10:21] edimuj commented on #74
Since there haven't been any activity on this issue for some months now, I'm closing it. Feel free to open it again if there is any change or new information.

[2019-02-03 16:50] engr-Eghbali commented on #27
@giorgiobeggiora No. maybe "cordova-plugin-media-capture" working good for you.

[2019-02-05 14:05] giorgiobeggiora opened #82 "stop() callback invoked when file doesn't exist"
The file is not available in the stop() callback, so you need to check if the file exists using a loop that interrupts when the file become available.

Note that if you're using always the same file name you need to always delete the file before to run start() again, otherwise you will use the previous audio file.

[code]

[2019-02-22 16:19] giorgiobeggiora commented on #74
I'm trying to get the waveform too, without success.

I'm implementing this example:
https://developer.mozilla.org/en-US/docs/Web/API/AnalyserNode/fftSize

[code]

Each item of the dataArray has value 128

My final purpose is to understand how to detect silence so i can automatically send voice commands.

Thanks

[2019-02-25 14:58] giorgiobeggiora opened #83 "audioinputfinished event.file malformed path"
On Android, after an event "audioinputfinished" the event.file attribute has a value similar to:

	file:/path/to/somefile.txt

instead of:

	file:///path/to/somefile.txt

I didn't test iOS.

[2019-02-25 15:50] giorgiobeggiora commented on #69
Hi, any news about this? Thank you for your time :)

[2019-02-25 16:31] giorgiobeggiora opened #84 "[Question] How to detect silence to upload saved file?"
I developed a demo that saves a wav file in the cache directory of the app using the fileUrl option.

The current behaviour is:

the user holds a button > the user talks > the user release the button > upload the file

I want to change this behaviour with

the user taps a button > the user talks > the user stops to talk > upload the file

How is it possible?

In alternative of saving the file with

[2019-02-28 15:20] LavaRiddle commented on #74
Did you have any luck @giorgiobeggiora I'm working on the same thing.

[2019-03-01 08:15] giorgiobeggiora commented on #74
not yet :( i'm still working on it

[2019-03-01 09:20] LavaRiddle commented on #74
I'll upload what I've got for this part of my project so far to my GitHub - I have a cordova app that I want to record audio speech with and send to the Google Speech to Text API. I'm not sure how close this is to what you're trying to achieve?

I have it working on the cordova browser build - although I'm using standing Web audio and WebRTC APIs.

I'm just trying to get the same functionality on

[2019-03-02 09:16] DanielTizon commented on #66
I'm trying to use this plugin with Ionic 4, and I am not able to find an basic example with all the steps and code needed to run this plugin in Ionic.

First I created a blank ionic project:

`ionic start myproject blank`

After that, I installed this plugin:

`ionic cordova plugin add https://github.com/edimuj/cordova-plugin-audioinput.git`

And then, I try use this plugin in app.component.ts:

[

[2019-03-02 09:19] DanielTizon opened #85 "Ionic 4 - Basic Example"
Hi,
There is a issue related to this, but at the moment that issue is closed, and I didn't find the answer that I need, so I am opening a new issue related to this issue:

[https://github.com/edimuj/cordova-plugin-audioinput/issues/66](url)

I'm trying to use this plugin with Ionic 4, but I am not able to find an basic example with all the steps needed to run this plugin in Ionic.

It has been my

[2019-03-06 13:48] edimuj commented on #85
Good question, I think it is good that you opened a new issue for this, since #66 is specifically for Ionic 3. I, myself, doesn't use Ionic, so I hope somebody else may be able to help you. Keeping this issue opened until then. If you manage to solve this yourself, I would be grateful if you update this issue with the solution and close it. Thanks!

[2019-03-06 14:05] edimuj commented on #84
I believe that you instead of saving to files, need to stream to Web Audio or directly subscribe to the raw audio events, and then continuously analyze the captured data to determine the average volume for each chunk. For example using the Web audio API: https://stackoverflow.com/questions/21247571/how-to-get-microphone-input-volume-value-with-web-audio-api

You also need to determine and specify

[2019-03-08 20:34] DanielTizon commented on #85
I got some advances. It is needed to run it with:

`ionic cordova run browser`

But I am not able to get fired the audioinput event when I am recording. I am using the next code:

[code]

And I am getting the message to get permission to use mic, and  this log, but no event fired:

[code]

And, I thought that I didn't need to use fileUrl, but If I don't use fileUrl, I get the next error:

`Excepti

[2019-03-09 09:59] DanielTizon commented on #85
Finally, I got it working. It doesn't work on browsers, so you must use a device.

[code]

[2019-03-09 10:08] DanielTizon opened #86 "Is it possible to extract raw signal every two seconds using events?"
Hi, I would like to know if it is possible to get raw signal every two seconds. I am a bit confusing about how is it related with bufferSize option, and how I could to get a raw signal that represents two seconds of audio.

[2019-03-11 16:02] edimuj commented on #86
The samplerate is the number of samples captured per second, so calculating the length in seconds of a mono (1 channel) buffer can be done like this:
var bufferLengthInSeconds = 1 / (sampleRate / bufferSize);

[2019-03-11 16:04] edimuj commented on #85
Thank you @DanielTizon !

[2019-03-11 16:04] #85 closed

[2019-03-11 16:05] edimuj commented on #84
Since there hasn't been any activity on this for a while now, I'm closing it. Feel free to reopen if need be.

[2019-03-11 17:29] DanielTizon commented on #86
Thanks @edimuj

So if I am using a sampleRate=audioinput.SAMPLERATE.CD_AUDIO_44100Hz, and I use bufferSize=44100, then events with raw audio will be fired every second?

[2019-03-11 17:34] edimuj commented on #86
Yes, theoretically but the actual buffersize of each buffer can sadly vary during execution and it is not possible to set it to whatever you want depending on the device the app executes on (I've have had some problems above 16384 on some devices), so I would rather queue up buffers and then consume them until you get 44100 samples for one second or 88200 for two seconds etc.

[2019-03-12 08:28] giorgiobeggiora commented on #84
I'm still on this, just i don't have time to work on it now. I will study the problem again in some weeks. Thanks.

[2019-03-12 08:57] edimuj commented on #84
Thanks for the update. If you want the following behavior: "the user stops to talk > upload the file" the audio needs to be analyzed in real-time which means that you most probably cannot use the save to file option of this plugin but have to go for events or Web audio API.

[2019-03-12 10:03] giorgiobeggiora commented on #84
a colleague of mine tried to modify the plugin and he was able to get audioinput events while using the file option. So, why are them not available? Performance?

[2019-03-12 11:12] LavaRiddle commented on #74
Okay, so I'm having way more success, I've managed to borrow a lot of existing code from https://kaliatech.github.io/web-audio-recording-tests/dist/#/test1

Thus far, I've been able to generate audio/webm files in Chromium / Firefox browsers and without IOS and outputting a .wav, this is predominantly for the browser based version of my application. and does generate a live animation of the audio

[2019-03-12 13:17] edimuj commented on #84
I don't think Performance would be an issue simultaneously using events and saving files if correctly implemented.

Maybe your friend would like to share his modifications with the rest of the community via a PR, since this is an open-source project?

[2019-03-12 13:22] edimuj commented on #74
Looking good @LavaRiddle !

Could you please elaborate a little bit on: _"writing an exception for mobile browsers - where mediaDevices.getUserMedia is not available and I want to hook the cordova-audioinput-plugin directly into the rest of the application."_

What specific issues do you currently have?

[2019-03-13 07:58] giorgiobeggiora commented on #74
Hi @LavaRiddle thank you for sharing! Actually i'm busy and i don't have time to work on this, but I will study the problem again in some weeks.

[2019-03-14 11:44] giorgiobeggiora commented on #84
here is the zip https://we.tl/t-j7UK5bKS5D

[2019-03-15 12:00] LavaRiddle commented on #74
@edimuj @giorgiobeggiora
Thank you for your swift responses guys!

I'm working on a bit of written elaboration for everyone later this evening. Just so you know this isn't a dead thread.

[2019-03-15 13:48] edimuj opened #87 "Enable using saving to files and audio events or Web Audio simultaneously"
The plugin doesn't support simultaneously saving audio to files and getting the captured audio delivered to the web app as events or Web Audio.

This would enable you to for example analyze the captured audio for silence while saving to file and when silence occurs, stop the recording and then do something with the created file recording.

[2019-03-26 11:56] FelixQuehl commented on #85
Thank you @DanielTizon is worked for me as well!

[2019-03-26 12:30] edimuj commented on #66
There is an example for Ionic 3 here: https://github.com/edimuj/cordova-plugin-audioinput/issues/68

[2019-04-08 00:57] thekingrenz23 opened #88 "Using sockets"
is it possible to use this to capture the voice of a client and live hearing it on the socket server?

[2019-04-12 12:41] edimuj commented on #88
Yes it should definitely be possible.

[2019-04-12 12:42] edimuj commented on #86
Since there haven't been any activity for a while, I'm closing down this issue.

[2019-04-12 12:42] #86 closed

[2019-05-14 15:04] olivermuc opened #89 "speechcapture link/project disappeared"
Edin,
Any chance you can share this library with us again?
It's exactly what I am looking for - much appreciated!
Oliver

[2019-05-16 08:24] #88 closed

[2019-05-16 08:29] edimuj commented on #89
The reason why that library disappeared is that it was licensed to a company for commercial use a couple of years ago.

[2019-05-16 08:37] #89 closed

[2019-05-16 08:40] edimuj commented on #74
Since there haven't been any activity on this issue for a couple of months, I'm closing it. Feel free to open a new issue if need be.

[2019-05-16 08:40] #74 closed

[2019-05-16 08:44] olivermuc commented on #89
Thanks Edin.
Any pointers though as to how to read/process your event data to determine low volume for a particular duration?

[2019-05-16 09:16] edimuj commented on #89
That code by @cwilso (the god of audio processing) is a good starting point. It basically detects clipping (audio levels which are too high and leads to annoying clicks), but it should be possible to use the same method to detect audio above a certain (lower) level and then combine it with functionality that captures only that audio from the incoming audio data stream.

[2019-05-16 09:30] olivermuc commented on #89
Right, thanks for confirming. I was first thinking that I might get away with simply creating avg data values across recorded (event) chunks and subtract a "certain" ambient volume level.
But wasn't sure that's exactly what I need to do, it feels too easy, lol.

[2019-05-26 11:08] artorralbaiii commented on #82
Try to have a setTimeOut before you call the window.resolveLocalFileSystemURL.

Because there is a short delay on creating the physical file so when you trying to locate the file, it is not yet created.

[2019-05-26 16:02] giorgiobeggiora commented on #82
of course that's a possible solution, but I think it's a plugin's job wait for the file creation, and then fire the callback: it should not be a developer's implementation. At least, please write about the delay in the documentation!

[2019-06-01 22:39] djipco opened #91 "Add audioContext property"
The standard `AudioNode` object has an `audioContext` property. For compatibility reasons, would it be possible to add this property (in addition to the `getAudioContext()` method)?

[2019-06-05 18:52] edimuj commented on #82
Yes, I agree @giorgiobeggoria, it is something that would be handled by the plugin. Please send a PR with your fix and I'll merge it.

[2019-06-05 18:53] edimuj commented on #91
Absolutely, I'd be happy to merge such a PR.

[2019-06-06 07:35] giorgiobeggiora commented on #82
the problem is that i don't know Java... well, it's time to learn it :)

[2019-06-06 07:37] giorgiobeggiora commented on #84
hi @edimuj did you download the zip ? do you have the code now?

[2019-06-13 19:09] artorralbaiii opened #92 "How to convert tha audio data received from the event trigger?"
Hi,

May I know how to convert the "evt.data" to base64 format? Currently, the format it is throwing is an Array of numbers.

function onAudioInput( evt ) {
    console.log( "Audio data received: " + evt.data.length + " samples" );
}

[2019-06-20 06:49] marsiliflavio commented on #62
Hi,
have have the same problem. In my develop repository i have paste the code from the demo example, the plugin is correctly install and present in package.json and config.xml. But, when start my app mobile at deviceready obtain audioinput undefined

[2019-06-20 09:46] edimuj commented on #62
@marsiliflavio This issue has been solved and doesn't seem to correlate to your specific error (running on mobile device). Please open a new issue instead.

[2019-06-20 10:36] marsiliflavio opened #93 "Variabile undefined"
Hi,
have have current problem. In my develop repository i have paste the code from the demo example, the plugin is correctly install and present in package.json and config.xml. But, when start my app mobile at deviceready obtain audioinput undefined. Cordova is ready, obtain info from mobile, other plugin is correctly stared (camera, network...), but audioinput is null/undefined. Watching window v

[2019-06-26 13:20] zhaoxu666 commented on #92
I have a same problem!!! how to save evt.data in this.file.externalDataDirectory

[2019-06-26 13:51] zhaoxu666 commented on #85
what is this event.data ? how to save this?

[2019-06-26 13:56] FelixQuehl commented on #85
I think it is a string of comma separate numbers represent the audio signal. You can see it similar to a wave file payload in csv format.

[2019-06-26 14:00] edimuj commented on #85
Exactly @FelixQuehl, the data is in raw PCM format, like a WAV file but without the WAV header.

@zhaoxu666 This issue is closed and your question is certainly not related to "Ionic 4 - Basic example". I saw that you asked the same question in #92. Let us continue the discussion there instead.

[2019-06-26 14:03] edimuj commented on #92
Have you looked at the demo project? There is an example there on how to convert the raw audio data to WAV format and another example shows how to save it as a file using cordova-plugin-file:

WAV format: https://github.com/edimuj/app-audioinput-demo/blob/master/www/js/wav-demo.js
Save WAV to file: https://github.com/edimuj/app-audioinput-demo/blob/master/www/js/file-demo.js

[2019-06-26 14:05] edimuj commented on #93
@marsiliflavio Do you run the project on a device, emulator or in a desktop browser?

[2019-06-26 14:07] marsiliflavio commented on #93
On device. I have a contract in the cloud repository and the provider have an app for debug my projects

[2019-06-26 14:10] edimuj commented on #93
Which provider do you use to build your app? If it is a generic pre-built test app, I would guess that it doesn't include this plugin, which would explain your issue. You need to build the app yourself if that is the case.

[2019-06-26 14:14] marsiliflavio commented on #93
Monaca.io
debugger app installed in my mobile phone (ios and android).
I have the possibility to include custom plugins directly from git url. your plugin is regularly included in config.xml and packages.json.
I use other custom plugins. For example https://github.com/cordova-plugin-camera-preview/cordova-plugin-camera-preview.
This works regularly in the same project

Thanks

[2019-06-26 14:22] edimuj commented on #93
Ok, thanks. Sadly I aren't able to test this since Monaca with the custom debugger costs money.

Are you able to see the build logs from Monaca? It would be interesting to see what happens during build time.

Have you imported the plugin in the Monaca portal as stated in their docs? https://docs.monaca.io/en/products_guide/monaca_cli/dependencies/custom_cordova_plugin/

[2019-06-26 14:25] marsiliflavio commented on #93
"Please make sure to import the custom or external third-party Cordova plugins before building the custom built debugger". Yes, i do..,but I will proceed with new tests on a new project. Maybe something goes into conflict or something doesn't work.
hank you so much

[2019-06-26 14:27] edimuj commented on #93
Ok, I understand, I know it is frustrating when these things doesn't work. I wish you good luck @marsiliflavio and we'll let this issue remain opened a while longer, so keep me updated of any progress or if the issue persists.

[2019-06-27 07:20] marsiliflavio commented on #93
Hi,
all solved, a configuration problem, internal to the project. I apologize for the attempted alarm on possible bugs of the plugin and I thank you for the work and availability.

best regards

[2019-06-27 12:17] edimuj commented on #93
No problem at all and thanks for the update @marsiliflavio.

[2019-06-27 12:17] #93 closed

[2019-07-02 10:24] MmSwd opened #94 "ERROR fileUrl incorrect in IOS"
Hi
I started using this plugin with great satisfaction on Android; when I tried to use it on IOS, I had problems starting from the example for a simple audio recording.

`
var captureCfg = {
    fileUrl : cordova.file.cacheDirectory + "temp.wav"
}
// Start the capture.
audioinput.start(captureCfg);
// ...and when we're ready to stop recording.
audioinput.stop();
`
When I try this example in IOS (v

[2019-07-26 11:00] Prasoon1983 commented on #94
Hi @MmSwd, I too got the same issue "error: "Invalid file URL". I tried your fix by changing that one line of code so error is gone but I don't get the callback function 'onStopped' called after stop method call. Did you do any other change in plugin code?

[2019-07-31 10:18] edimuj commented on #92
Since there haven't been any activity on this issue for a month now, I'm closing it. Feel free to get back to me if there is any update.

[2019-07-31 10:18] #92 closed

[2019-08-17 15:49] MadyAkira commented on #85
According to their github the cordova-plugin-audioinput is supported on browser as well.
I have almost the same error message as yours.
<img width="594" alt="Screen Shot 2019-08-17 at 17 47 44" src="https://user-images.githubusercontent.com/42877823/63214327-45be0380-c117-11e9-8009-abdef614b1ff.png">

Someone know how can i fix this ?

[2019-08-17 16:58] MadyAkira opened #95 "Ionic 4 - Browser audio input doesn't work"
Hi,

I have a problem really similar to this post : https://github.com/edimuj/cordova-plugin-audioinput/issues/85

The plugin is working well on my android device but when i do` ionic cordova run browser` and load the tab, i have this error in the console :
<img width="594" alt="Screen Shot 2019-08-17 at 17 47 44" src="https://user-images.githubusercontent.com/42877823/63215005-68a0e580-c120-11e9-

[2019-08-20 07:15] orryoracle opened #96 "in iOS WebAudio streams buffer is empty"
Hi, I'm on iOS, trying to get mic stream and send to Google Cloud Speech to Text service. So I need a replacement for getUserMedia, and splicing the Google sample and one of the example in one of the closed issues I did:

`context = new AudioContext({latencyHint: 'interactive'});'`
`var processor = this.context.createScriptProcessor(2048, 1, 1);`
`processor.connect(context.destination);`

`audioin

[2019-08-21 13:21] edimuj commented on #96
Hi, @orryoracle!
Can you get the demo app for this project to work on an iOS device https://github.com/edimuj/app-audioinput-demo ?

[2019-08-21 23:36] orryoracle commented on #96
Thanks for the response and link to sample code! The sample app works, as I can hear my mic input echoed back.

I should have mentioned that I'm using ionic capacitor which is largely cordova plugin compatible. With the cordova app sample in hand, I can start investigate the issue on capacitor.

[2019-08-22 17:38] edimuj commented on #96
Sounds like a plan. Sadly I know little about Capacitor. Let me know if you manage to solve it or not. Good luck!

[2019-08-26 08:32] orryoracle commented on #96
OK - so first thing I did is to just replicate the cordova WebAudio demo using [Capacitor](https://capacitor.ionicframework.com/). At first it didn't work. No errors in the output, just silence. After digging a bit, the demo app @edimuj linked is on version 1.0.1, while the I have latest version 1.0.2 from npm. The only diff between the 2 version seemed to be the `audioInputCapture.js` file, where

[2019-08-27 13:24] edimuj commented on #96
Thanks @orryoracle  for letting me know about this. Good job! I will look into why 1.0.2 doesn't work as supposed on iOS.

[2019-09-10 06:00] wangzhengbo opened #97 "Dose it support android 4.4?"
Dose it support android 4.4?

When test it on android 4.4 emulator, app crashed after invoke start() methods.

[2019-09-13 13:21] edimuj commented on #97
It "should" work, but since I haven't tested it myself, I cannot say for sure.

Anybody else here have experience of running it on Android 4.4?

[2019-09-13 14:41] fquirin opened #98 "streamToWebAudio working with iOS 12.4 ?"
Hi,

I'm currently trying to build my [app](https://github.com/SEPIA-Framework/sepia-html-client-app) for iOS 12.4 with the latest Xcode and one of the issues is that I'm not getting any data anymore from the audioinput plugin when using `streamToWebAudio: true`. When used with a script-processor the 'onaudioprocess' event is triggered but the buffer values are all 0 :-(
I've also tried the includ

[2019-09-13 17:10] hnlpower commented on #98
I have exactly the same issue with 12.4 everything is 0. And no Audio is being played back.

[2019-09-13 21:27] hnlpower commented on #98
After searching around a bit, downgrading to 1.0.1 from 1.0.2 fixed the issues like mentioned in this post `https://github.com/edimuj/cordova-plugin-audioinput/issues/96`

[2019-09-13 21:53] hnlpower opened #99 "iOS stream to web in background"
Hey, should the plugin work when the app goes into background?

I enabled the Audio background permission and whenever I minimize the app now it doesnt send audio to the server but as soon as it returns into foreground it sends everything at once.

So it seems like it is still recording just not sending it through the MediaStream?

`    audioinput.start({
                streamToWebAudio: true

[2019-09-13 23:11] hnlpower commented on #99
Alright after further testing and switching to the "advanced" api, receiving the float32 array works perfectly fine even in background mode.

And playing back the mic stream locally also works in background.

So the solution I found for myself now is to just play back from a gainNode with 0.0001 gain effectively muting it, to keep the threat active which will then also keep the MediaStream working

[2019-09-15 11:33] #99 closed

[2019-09-15 11:37] hnlpower opened #100 "crackling with web audio"
Is it crackling for anyone else? I tried playing around with the sample rate, enhance the queue directly of the chunks with the web audio api and timing of the context itself but nothing helped the voice streamed from the microphone has little cracks here and there.

And ofc I also tried my own web audio chain with proper timing and not using setTimeout but even that crackles its very minor but it

[2019-09-15 13:58] wangzhengbo commented on #97
I test it on Android 4.4. It works well.

[2019-09-15 13:59] edimuj commented on #97
Thanks for the update @wangzhengbo

It seems like the plugin doesn't work in the Android emulator then.

[2019-09-15 18:22] MadyAkira commented on #94
Same problem here, no callback for audioinput.stop so no url...

[2019-09-15 21:37] hnlpower commented on #100
I played around with it a bit and changed some performance intensive parts and achieved some good results and wanted to share it:

[https://pastebin.com/EVQu4X30](url)

this pretty much is a drop in replacement for getUserMedia as well which ofc doesnt support any actual constraints, those still need to be configured via the cfg of audioinput BUT it does handle starting and stopping of the underly

[2019-09-16 06:22] wangzhengbo opened #101 "There is a noise when playing on iOS after upgrade audioinput to 1.0.2. Works well on Android."
There is a noise when playing on iOS after upgrade audioinput to 1.0.2. Works well on Android.
Because 1.0.2 normalize to typed array.

[2019-09-19 20:19] MadyAkira commented on #101
What kind of noise is that ?

I noticed that i had some crackling noise on my microphone when the light cable was plugged-in the iphone. I shot a video for you, tell me if this is a similar noise.

[Youtube Link](https://youtu.be/4ptEJeDX3xA)

[2019-09-20 14:03] edimuj commented on #101
Thanks for the video! Hmm, I haven't experienced that type of issue with the captured sound. Anyone else having this issue?

Ok, I was a bit to fast to accept a PR which resulted in 1.0.2 and which includes the typed array stuff. So using 1.0.1 instead should work on iOS?

[2019-09-20 14:04] edimuj commented on #101
Have you seen issue https://github.com/edimuj/cordova-plugin-audioinput/issues/100 ?

[2019-09-20 14:05] edimuj commented on #98
Thanks for letting me know. It seems to have to do with a PR that introduced at typed array in v1.0.2

[2019-09-20 14:06] #97 closed

[2019-09-20 14:08] edimuj commented on #95
It doesn't seem to work either on an emulator or the browser. The point of the plugin is mainly to enable audio capture on iOS devices and older Android devices that haven't support for getUserMedia as most modern desktop browsers do.

[2019-09-21 11:47] MadyAkira commented on #95
Actually its working fine on ios emulator for me, on android emulator i have a mute microphone but maybe this is just some settings for the emulator.
Thanks for your answer, i will use a different approach for browser.

[2019-09-23 06:54] pgcan commented on #64
Hi @edimuj and @hoboman313 , I have been using this plugin for audio recording for few months in my app. However now I want to use it as audio source for WebRTC too. (Reason: I have OnePlus7Pro and it doesn't have microphone jack but USB Type-C input. getUserMedia doesn't catch audio from USB, not sure why).
I followed the sample code given in above answer and copied audio tracks from createMediaS

[2019-09-23 15:23] pgcan opened #102 "No Sound or periodic 'click-click' sound when using web audio option."
Hi,
Looking at the plugin code and documentation it looks pretty obvious that capturing WebAudio is minutes of task using this plugin but I have been struggling for last 2 days to get this working.

I installed the Demo App and tested "WebAudio" demo but all I hear is a 'click-click' sound every half second. There is no error and all looks pretty working.

I have tested on Android 9.0 and Android

[2019-09-24 08:55] pgcan commented on #102
An update here,
if disabled TypedArrays then it works.

`var hasTypedArrays = false;// 'Int16Array' in window && 'Float32Array' in window;`

[2019-09-27 04:57] pgcan commented on #100
I am also getting the same crackling sound on WebAudio. The sound is input via USB input in my mobile device. It works fine when I record the audio as WAV file but when sound is converted to Web Audio and sent over WebRTC there is crackling sound.
I tested with a constant frequency tone but check the sound wave graph at this link [https://github.com/pgcan/cordova-plugin-audioinput/blob/master/crac

[2019-09-27 14:02] dhandarbeit-tk commented on #94
I copied the plugin, linked it locally and swapped the line.

It seems you get the correct url when you subscribe to the "audioinputfinished" event.

[2019-10-29 08:54] arturomf opened #103 "Bad sample length after normalize"
Hi! i'm using audioinput in a ionic app for iOS. I'm using it to capture audio from device mic and extract features through meyda library. Meyda library needs a 32 bit array so i might normalize signal. The problem is that after normalize, the sample array length is not a power of two (8192). It's 8191 length.

This is my code:

[code]

Any idea of why is the raw data having bad length?

Thanks!

[2019-10-31 17:11] edimuj commented on #102
Thanks @pgcan

I'll look into this as soon as possible.

[2019-10-31 18:07] taxilian commented on #102
That is strange; I actually was having some trouble on android which might be related to this, but ended up just using getUserMedia on android so I didn't worry about it. It was definitely working on iOS.

I can try to look at this a bit later; it could be there is an issue with the way we're initializing the typedarrays or the data isn't getting copied correctly on android.

[2019-11-06 07:07] pgcan commented on #102
Another major issue that I found with plugin's WebAudio logic, is that the scheduling of BufferSource is done based on "setTimeOut" in method "_getNextToPlay" however AudioContext has its own timer which is more precise (double) and must be used.

I will create pull request to fix this.

[BaseAudioContext](https://developer.mozilla.org/en-US/docs/Web/API/BaseAudioContext)

[2019-11-18 08:02] ShyamSMoorthy opened #104 "Wav file is too large"
Hello , Am using the exact "CaptureCfg" configuration mentioned in the document , and everything working fine , But there is major issue we are facing is the wav file is way too large that we are not able to pass is to server or perform any other operations.
(Eg:If we record for 10 min , the blob size is around 165 MB)

Is there any possibility of reducing the wav file size , that would be very he

[2019-11-18 14:19] alb99 opened #105 "Please Help Ionic 3 App"
I want to create an Ionic Cordova app that can access the audio stream.
The plugin is exactly what I was looking for.
Unfortunately I can't get it to run on an IOS 12.1 XCode version 11.2.1.
I have implemented the demo app. But it just doesn't work.
There are also no errors.
Permissions for Micro have been granted.
Could it be that it's the XCode?
Can anyone help?

[2019-11-19 00:57] MadyAkira commented on #18
I noticed the same issue on ios native, the first recording start instantly, only 10ms after the user pressed the recording button.
However after the first one, the next recordings may be 10 times slower to start.

An awkward thing is that i get almost the same value each times.

Is either 10ms / 4XXms / 12XXms for each records.
Here is the logs :
[code]

Maybe is there any way to clear or re-init

[2019-11-23 21:01] aschwersenz opened #106 "Ionic + iOs 13.1.3"
Hi,

I am trying to do a frequency analysis of the current microphone input using your plugin and ionic. My code looks like this

       const audioContext = new webkitAudioContext();

        audioinput.start({
            audioContext: audioContext,
            streamToWebAudio: true
        });

        const analyser = audioContext.createAnalyser();
        audioinput.connect(analyser);

[2019-11-25 05:07] ShyamSMoorthy opened #107 "Recorded Audio not captured Properly"
Hello, We are integrating the audio input plugin with Vuejs , Initially we faced the slowness while concatenating , which was have raised #104 was fixed by ourselves  . Now we are facing capture issue (i.e) when an audio captured for  5 minutes we able to capture the recording for 5 min , but in between the recorded audio was not playing for a 30-40 sec and again it resumes , this not occurring in

[2019-11-25 21:33] nayaenndu opened #108 "audioinput.stop() - Not firing in iOS"
I have tried all the possible methods but failed. No way it is stopping the recording.
audioinput.start() is firing but it is not stopping. so the next task is not calling in iOS.
For android this working fine.
**Starting recording**
function startRecord(){

		console.log("Starting recording...");
		audioRecord = "temp.wav";

		// Get access to the file system
		window.requestFileSystem(window.TEM

[2019-11-27 14:40] edimuj commented on #104
I understand, WAV is an uncompressed audio format, which is the reason for why it is so large.

There are some things you could do to make the resulting file at bit smaller:
1. SAMPLERATE can be lowered from 44100Hz to 16000Hz (audioinput.SAMPLERATE.VOIP_16000Hz) which probably is enough for most applications. That more than halves the number of samples, which directly cuts the size of the resulti

[2019-11-27 14:43] edimuj commented on #105
There seems to be something in the latest version of the plugin (1.0.2). Have you tried 1.0.1 of this plugin? https://github.com/edimuj/cordova-plugin-audioinput/releases/tag/1.0.1

[2019-11-27 14:46] edimuj commented on #103
I think it could be due to this: https://github.com/edimuj/cordova-plugin-audioinput/blob/master/www/audioInputCapture.js#L397

The reason for this code is that on iOS the last sample delivered from native is not a number.

[2019-12-03 06:58] nayaenndu commented on #108
Any solution ? so far?

[2019-12-09 03:36] aressler38 commented on #102
I just started using this plugin and ran into this same issue. Setting `var hasTypedArrays = false;` as @pgcan says temporarily fixes the problem.

[2019-12-13 20:13] numerized commented on #95
Would be so awesome to make it work on the browser.
It'll be so cool to have one codebase for all really.

[2019-12-13 20:13] numerized commented on #95
@edimuj maybe you'd accept a little donation to make it work?

[2019-12-18 11:22] edimuj commented on #95
@numerized  well time is more of the issue, but donations are of course always happily accepted 🎁😊

Anyway, I will try to look into this in the coming weeks. Christmas is always a good time to do some housekeeping.

[2019-12-18 11:24] edimuj commented on #104
@ShyamSMoorthy since this issue hasn't been active for some time now, I will close it. Just let us know if there is any new information.

[2019-12-18 11:24] #104 closed

[2019-12-18 11:26] edimuj commented on #102
@pgcan Have you been able to look into this any more?

[2019-12-18 11:37] pgcan commented on #102
We do not use this plugin in our app anymore. So I couldn't get time to look into it. However, if possible then someone can look into changes in method "_playAudio" my repo [ commit](https://github.com/edimuj/cordova-plugin-audioinput/commit/12d5e130068e8fb8093ffff01130e115caa0a311) to understand AudioContext scheduling. But I am still hopeful to get time soon.

[2019-12-26 08:32] iexperto commented on #102
Same problem,  var hasTypedArrays = false; fixes the issue. Is any plan to fix this?
In my opinion this should be a setting instead of an "auto-detection"
This change also break the demo in some devices.
https://github.com/edimuj/app-audioinput-demo

[2019-12-26 20:31] taxilian commented on #102
I wrote the original PR to use typedarrays and it seemed to be working, but I ended up switching to use getUserMedia on android so didn't see the issue; unfortunately that makes it harder for me to troubleshoot it.

I'm off my day job for the next week so I'm going to see if I can figure this out, but if anyone currently affected by the issue is available to assist a bit that would be a big help -

[2019-12-26 20:55] taxilian commented on #102
okay; I have looked over the code and could only come up with one slightly shot-in-the-dark theory as to what is going on.  Would someone please try https://github.com/HamStudy/cordova-plugin-audioinput/tree/try_fix_android and see if it resolves the issue? (I can't repro)

[2019-12-31 06:59] wangzhengbo commented on #101
It's fixed by remove the code added by 'Add support for typed arrays with audio data'. See https://github.com/edimuj/cordova-plugin-audioinput/commit/e7b9703c2cedb1fe6580704e29003a6105119937#diff-fb1aa34c5c08ae27df513638cb93666f

So can you add an option to toggle the feature 'Add support for typed arrays with audio data'.
Default to enable it and i can upgrade to the latest version and disable th

[2019-12-31 07:00] wangzhengbo commented on #101
Yes, it's work well on iOS with 1.0.1.

[2019-12-31 12:54] edimuj commented on #101
Thanks for checking 1.0.1 on iOS @wangzhengbo !

Will try to dig into this in the coming weeks. I agree, making the typed arrays optional would take away a lot of headache.

[2020-01-09 13:04] Taxi4you opened #109 "The plugin isn't working"
On the first time it asks for permission, I give and then nothing merges in events.
In the second time, after already granted permissions, it just says:

This is the code:

[code]

Some questions:

1. Why doesn't it working?
2. What the raw data means? I get chunks that I send to server and then other people can play it with the web audio api, just like image buffer?

Please give me some info abou

[2020-01-09 16:25] san40511 commented on #109
console log function can be invisible inside native plugin function if you're using web inspector. Check the xCode log window.
About raw data you can open wikipedia and figure out what does it mean. but yes after some manipulation you can use it with html5 api but not on mobile device because if raw data will be too big your app will crash. Things like raw data handling always should do on server

[2020-01-09 16:27] san40511 commented on #109
try with this options const options = {
            sampleRate: 16000,
            bufferSize: 16384,
            format: 'PCM_16BIT',
            channels: 1,
            concatenateMaxChunks: 20,
            audioSourceType: 0
        };

[2020-01-16 08:52] Taxi4you commented on #109
I succeed handle the basic usage and got **audioinput** event with the chunks. But what can I do with them now? Should I pass them to server using HTTP request and from there send them to other clients and in other clients apps to play them?

BTW, the audioinput stop callback returns with **OK** in the url instead of a real URL, howcome?

[2020-03-12 19:42] nicobytes opened #110 "The buffer size in background mode is wrong"
When the app runs in foreground  mode the buffer size is perfect but when the app runs in background mode the buffer size change and is not a power of two.

The video with issue: https://youtu.be/Hw20iCzX8j0

In foreground:

![Screen Shot 2020-03-12 at 3 39 36 PM](https://user-images.githubusercontent.com/7611944/76560648-03c02a80-6478-11ea-84e1-7901d8f2b254.png)

In background:

![Screen Shot 202

[2020-04-04 09:28] suzhengda commented on #98
![image](https://user-images.githubusercontent.com/10463826/78423013-f58bb580-7695-11ea-96c5-69f0076f98d9.png)

in audioInputCapture.js
the line is wrong:
oncatenatedData.concat(audioinput._dequeueAudioData())

it cause webAudio get all zero Array.
Float32Array can't concat by concat method.

in ios. capture microphone it return 16-bit pcm.
is it really right i show the code below here in audioInp

[2020-05-11 04:55] MadyAkira commented on #108
In my case the recording is stopping but the callback function is not triggered on ios.

[2020-05-13 21:46] numerized commented on #95
Cool! :)

[2020-05-28 20:38] Vaibhav1587 opened #111 "Audio input from bluetooth mic"
Great plugin. Thanks for that!

Ionic_v4

Trying to record the audio using Bluetooth microphone and play through phone speaker.
I have turned on the Bluetooth SCO using [https://github.com/gntikos/cordova-BluetoothSco](url)

recoding :
[code]

Play:

[code]

I'm able to record through the Phone Mic and play on Bluetooth speaker. Just stuck on this on. Recording through Bluetooth mic and playing on

[2020-06-07 14:07] Electric-9 commented on #108
Same problem here. The callback functions are not called at stop(). I am using iOS 13.3. The same code is working on Android.
This applies to version 1.0.2 and 1.0.1.

[2020-06-17 08:08] touficzayed commented on #111
Hi,
same problem here. I cannot record from the bluetooth mic.

[2020-06-22 09:11] nth-chile commented on #95
It tries to do string replacement on `fileURL`, which is a problem if `fileURL` is null

[code]

[2020-07-12 09:42] nth-chile commented on #106
+1

[2020-07-12 09:47] nth-chile commented on #98
+1

[2020-07-20 09:14] datchio commented on #111
Any luck with this @Vaibhav1587 or @touficzayed ?

[2020-07-20 09:16] MumblesNZ commented on #111
Any luck with this @touficzayed or @Vaibhav1587 ?

[2020-07-22 16:48] touficzayed commented on #111
Hi @MumblesNZ.

I tried with the bluetoothSco plugin, and testing on one single device only it worked: I was able to record with the bluetooth microphone and listen in the bluetooth headset.

The only drawback is that the audio quality is not very good.

[2020-08-20 08:58] sertal70 commented on #102
Hi @taxilian, I tried your fix but it doesn't solve the issue: the recording output contains a periodic "click" only, there is no sound at all. The only way to have it work is to set `hasTypedArrays` to false: doing so I have sound in the recording output, although the periodic "click" is still present.

[2020-08-20 15:46] taxilian commented on #102
Really really strange; I have no idea why typed arrays would not work on android, but it ... really sucks.

Thanks for testing it =]

[2020-08-31 17:08] numerized commented on #106
Same here, I had to go back to 1.0.1

[2020-09-12 09:59] mashrurbd commented on #64
Thanks for the info. Just needed to know how we can call the thing?
`var audioSource = dest.stream;`

or,

`var audioSource = dest.stream.getAudioTracks()[0];`

[2020-09-26 05:52] Debanil1996 opened #113 "The Bluetooth Microphone is not connecting with Web Speech Service."
**Problem Statement**
=======================
The problem here generating is that when I am trying to connect with ***Cordova app*** with **bluetooth microphone in Angular 8** application with the webspeech assistant .The assistant is not responding with the bluetooth microphone. The issue here is that I tried with different plugins:-

1. [Cordova plugin audioinput

1. Cordova plugin bluetoothle

[2020-10-02 14:57] bilboeee opened #114 "Electron error installation"
Hi,

I am trying to install the plugin for electron platform. but i have this error:

`
Installing "cordova-plugin-audioinput" for electron
Finding scripts for "before_plugin_install" hook from plugin cordova-plugin-audioinput on electron platform only.
No scripts found for hook "before_plugin_install".
Install start for "cordova-plugin-audioinput" on electron.
Beginning processing of action stack

[2020-11-06 15:47] hlpallack commented on #108
I'm experiencing the same problem in ios - are there any updates or workarounds for this?

[2021-01-28 06:12] arpitvjaiswal opened #118 "Audio buffer is not passed to ScriptProcessorNode after iPhone is locked and unlocked"
Hi,

Steps to reproduce:
1. In `audioinput-demo's www/js/webaudio-demo.js`, replace `filterNode` with a processor node.
[code]

2. Build the sample for ios afterwards and run it on iOS device.
3. Connect to safari browser console, and run Web Audio demo. On start, the browser console shows messages on receiving audio buffer.
[code]
3. Lock the phone and unlock after a couple seconds. Run the Web A

[2021-02-13 13:05] sarthak-g opened #119 "[Question] attach plugin output to p5"
Hi,
I want to pass live voice received from microphone using plugin to [p5.fft.setInput](https://p5js.org/reference/#/p5.FFT/setInput) method. How can I do that?

[2021-03-28 14:57] asztern opened #120 "[QUESTION] Is the audio recorded free of filters like noise cancellation?"
Hi, we need to record an audio and make sure is filters free. That includes not having the noise cancellation filter active and others. Is this possible with this plugin?

Thank you in advance
Ariel

[2021-04-04 10:16] akadebnath opened #121 "Wav file not generating correctly"
Looks like this plugin no longer works.
I tried integrating the codes in my app, also downloaded the sample app and generated APK file from it.
It always creates 1KB .wav file whoch does not play.
It seems audioDataBuffer is created correctly, but WavAudioEncoder cannto convert it to a proper audio file.

[2021-04-06 17:16] akadebnath commented on #121
I gave up and switched to cordova-plugin-media

[2021-04-07 12:57] #108 closed

[2021-06-22 13:54] TobiasFPJS commented on #121
I  have just recently integrated the app in my ionic project with ionic 5 and capacitor.
It works nicely, except for a little crackling in ios, which might be due to misconfiguration on my part.
I can make wav files.

[2021-06-22 13:55] TobiasFPJS commented on #120
That is possible in the app, but might not be 100% enforced on IOS ( a lot depends on apple) (read the documentation)

[2021-07-21 11:06] arturomf opened #122 "Audioinput stops recording if an audio is played with cordova-media-plugin"
Hi all, I'm having a weird issue using audioinput.

If I start recording with audioinput.start() and after that, I play an audio using cordova-media-plugin, audioinput stops recording.

I'm testing in an Ionic5 app in iOS. In console I have this log:

Error Code responded -50 in file [..]/platforms/ios/appname/Plugins/cordova-plugin-audioinput/AudioReceiver.m on line 161

Any idea?
Best Regards

[2021-07-23 20:30] TobiasFPJS commented on #121
I have fixed the crackling, if anybody needs help, write me :)

[2022-01-26 11:35] Fan-loewe commented on #121
Hello, I was trying the code on Android, it was said the wav file is successfully generated, but the audio is always 1kb, and cannot play back.
@TobiasFPJS @hasib Can you give some tips how to make it work? Thank you very much

[2022-02-23 12:34] shaibrown5 commented on #98
+1

[2022-09-06 22:01] pvandrunen opened #125 "USB Audio Inputs are not recognized"
I thought that I would try this app out to resolve an issue I've found with both iOS and Android, that is USB microphones or USB audio input devices are, in general, not supported in the browser — and therefore my capacitor app.

Reported on iOS (safari) https://bugs.webkit.org/show_bug.cgi?id=211192
Reported for Android (chromium) https://bugs.chromium.org/p/chromium/issues/detail?id=1178521

Unf

[2022-11-09 08:22] ipostu commented on #106
I had a similar issue related to this, the problem in my case was that I was also using getUserMedia to get microphone data and presumably there was a race condition for the same hardware resource